<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2008, 2023 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    Contributors:
        Obeo - initial API and implementation
 -->
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <!-- Swagger preview in embedded navigator is not stable due to the fact that it relies on the OS web browser.
           This can be reconsidered when IS-Designer will be upgraded to Obeo Designer 12. A new implementation
           of the web browser based on a embedded fixed version of Chromium will then be available, making the
           result stable regardless of the undelying OS configuration. (Ref. [SAFRAN-912]).  -->
      <!-- command
            id="org.obeonetwork.dsl.soa.gen.swagger.preview.command.SwaggerPreview"
            name="Swagger Preview">
      </command -->
      <command
            id="org.obeonetwork.dsl.soa.gen.swagger.preview.command.SwaggerPreviewSystemNavigator"
            name="Swagger Preview (in System Navigator)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.obeonetwork.is.designer.menu?after=additions">
         <!-- command
               commandId="org.obeonetwork.dsl.soa.gen.swagger.preview.command.SwaggerPreview"
               icon="icons/swagger-logo-16x16.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command -->
         <command
               commandId="org.obeonetwork.dsl.soa.gen.swagger.preview.command.SwaggerPreviewSystemNavigator"
               icon="icons/swagger-logo-16x16.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <!-- handler
            class="org.obeonetwork.dsl.soa.gen.swagger.preview.handlers.SwaggerPreviewHandler"
            commandId="org.obeonetwork.dsl.soa.gen.swagger.preview.command.SwaggerPreview">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.obeonetwork.dsl.soa.Component">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler -->
      <handler
            class="org.obeonetwork.dsl.soa.gen.swagger.preview.handlers.SwaggerPreviewSystemNavigatorHandler"
            commandId="org.obeonetwork.dsl.soa.gen.swagger.preview.command.SwaggerPreviewSystemNavigator">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.obeonetwork.dsl.soa.Component">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
