<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2009, 2017 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
	
	<!-- 
	Obeo Designer Category : org.obeonetwork.dsl.viewpoint.category
    -->
   
	<!-- contribute new IS Model wizard  -->
	<extension point = "org.eclipse.ui.newWizards">
    	<category id = "org.obeonetwork.dsl.is.ui.categoryID" name="Obeo Designer For IS"/>    
    	<wizard
			id = "org.obeonetwork.dsl.is.ui.wizards.ISModelWizardID"
			name = "IS Model"
			class = "org.obeonetwork.dsl.is.ui.wizards.ISModelWizard"      
			category = "org.obeonetwork.dsl.is.ui.categoryID"
			icon = "icons/full/obj16/ISModelFile.png">
			<description>Semantic IS and Graphical model</description>
			<selection class = "org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>

	<!-- contribute new IS Model wizard shortcut in CNF compliant views -->
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard type="new" wizardId="org.obeonetwork.dsl.is.ui.wizards.ISModelWizardID">
			<enablement></enablement>
		</commonWizard>
	</extension>

	<!-- contribute IS Model editor -->
	<extension point = "org.eclipse.ui.editors">
	    <editor
	          class="org.obeonetwork.dsl.is.ui.editor.ISEditor"
	          contributorClass="org.obeonetwork.dsl.overview.presentation.OverviewActionBarContributor"
	          extensions="ois"
	          icon="icons/full/obj16/ISModelFile.png"
	          id="org.obeonetwork.dsl.is.ui.editor.ISEditorID"
	          name="IS Editor">
	    </editor>
	</extension>

	<!-- contribute new IS Overview Model Def  -->
	<extension point="org.obeonetwork.dsl.overview.overviewModelDef">
		<overviewModelDef class="org.obeonetwork.dsl.is.overview.IsOverviewModelDef"/>
	</extension>
      
</plugin>
