<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2009, 2020 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
   <extension-point id="org.obeonetwork.dsl.is.compare.matcher" name="CompareMatcher" schema="schema/org.obeonetwork.dsl.is.compare.matcher.exsd"/>
	
	<!-- 
	Obeo Designer Category : org.obeonetwork.dsl.viewpoint.category
    -->

	<!-- contribute new IS Model wizard shortcut in CNF compliant views -->
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard type="new" wizardId="org.obeonetwork.dsl.is.ui.wizards.ISModelWizardID">
			<enablement></enablement>
		</commonWizard>
	</extension>

	<!-- contribute new IS Overview Model Def  -->
	<extension point="org.obeonetwork.dsl.overview.overviewModelDef">
		<overviewModelDef class="org.obeonetwork.dsl.is.overview.IsOverviewModelDef"/>
	</extension>
	<extension
         point="org.eclipse.emf.compare.rcp.matchEngine">
      <engineFactory
            class="org.obeonetwork.dsl.is.compare.ISMatchEngineFactory"
            ranking="30">
      </engineFactory>
   </extension>
   
</plugin>
