<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/cinematic/3.0.0"
            class="org.obeonetwork.dsl.cinematic.provider.CinematicItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/cinematic/view/1.0.0"
            class="org.obeonetwork.dsl.cinematic.view.provider.ViewItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/cinematic/flow/1.0.0"
            class="org.obeonetwork.dsl.cinematic.flow.provider.FlowItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/cinematic/toolkits/1.0.0"
            class="org.obeonetwork.dsl.cinematic.toolkits.provider.ToolkitsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

 <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/cinematic/3.0.0"
            class="org.obeonetwork.dsl.cinematic.providers.CinematicEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.cinematic.flow.providers.FlowPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.cinematic.view.providers.ViewPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.cinematic.providers.CinematicPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/cinematic/flow/1.0.0"
            class="org.obeonetwork.dsl.cinematic.flow.providers.FlowEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.cinematic.flow.providers.FlowPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.cinematic.view.providers.ViewPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.cinematic.providers.CinematicPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   
      <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/cinematic/view/1.0.0"
            class="org.obeonetwork.dsl.cinematic.view.providers.ViewEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.cinematic.flow.providers.FlowPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.cinematic.view.providers.ViewPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.cinematic.providers.CinematicPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   
   <!-- Cinematic -->
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="Package"
               label="Package"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="CinematicRoot"
               label="CinematicRoot"
               category="semantic &amp; extension">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.obeonetwork.dsl.cinematic.parts.forms.Package_PropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.PackageTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.section.Package"
               tab="Package">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.parts.forms.CinematicRootPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.CinematicRootTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.section.CinematicRoot"
               tab="CinematicRoot">
         </propertySection>
      </propertySections>
   </extension>
   
   <!-- Views -->
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="ViewContainer"
               label="ViewContainer"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="ViewElement"
               label="ViewElement"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="ViewAction"
               label="ViewAction"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="ViewEvent"
               label="ViewEvent"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="EntityBinding"
               label="EntityBinding"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="EntityPropertyBinding"
               label="EntityPropertyBinding"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="DTOPropertyBinding"
               label="DTOPropertyBinding"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="DTOBinding"
               label="DTOBinding"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="ViewContainerReference"
               label="ViewContainerReference"
               category="semantic &amp; extension">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.obeonetwork.dsl.cinematic.view.parts.forms.ViewContainerPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.ViewContainerTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.view.section.ViewContainer"
               tab="ViewContainer">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.view.parts.forms.ViewElementPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.ViewElementTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.view.section.ViewElement"
               tab="ViewElement">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.view.parts.forms.ViewActionPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.ViewActionTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.view.section.ViewAction"
               tab="ViewAction">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.view.parts.forms.ViewEventPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.ViewEventTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.view.section.ViewEvent"
               tab="ViewEvent">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.view.parts.forms.ViewContainerReferencePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.ViewContainerReferenceTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.view.section.ViewContainerReference"
               tab="ViewContainerReference">
         </propertySection>
      </propertySections>
   </extension>
   
   <!-- flow -->
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="Flow"
               label="Flow"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="Transition"
               label="Transition"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="ActionState"
               label="ActionState"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="ViewState"
               label="ViewState"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="DecisionState"
               label="DecisionState"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="SubflowState"
               label="SubflowState"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="AsyncEventState"
               label="AsyncEventState"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="InitialState"
               label="InitialState"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="AbortState"
               label="AbortState"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="FinalState"
               label="FinalState"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="FlowAction"
               label="FlowAction"
               category="semantic &amp; extension">
         </propertyTab>

         <propertyTab
               id="FlowEvent"
               label="FlowEvent"
               category="semantic &amp; extension">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.FlowPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.FlowTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.Flow"
               tab="Flow">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.TransitionPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.TransitionTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.Transition"
               tab="Transition">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.ActionStatePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.ActionStateTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.ActionState"
               tab="ActionState">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.ViewStatePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.ViewStateTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.ViewState"
               tab="ViewState">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.DecisionStatePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.DecisionStateTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.DecisionState"
               tab="DecisionState">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.SubflowStatePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.SubflowStateTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.SubflowState"
               tab="SubflowState">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.AsyncEventStatePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.AsyncEventStateTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.AsyncEventState"
               tab="AsyncEventState">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.InitialStatePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.InitialStateTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.InitialState"
               tab="InitialState">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.AbortStatePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.AbortStateTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.AbortState"
               tab="AbortState">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.FinalStatePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.FinalStateTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.FinalState"
               tab="FinalState">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.FlowActionPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.FlowActionTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.FlowAction"
               tab="FlowAction">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.cinematic.flow.parts.forms.FlowEventPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.cinematic.filters.FlowEventTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.cinematic.flow.section.FlowEvent"
               tab="FlowEvent">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
