CREATE TABLE Employees (
	EmployeeID number(1, 1) NOT NULL ,
	LastName varchar2 (20) NOT NULL ,
	FirstName varchar2 (10) NOT NULL ,
	Title varchar2 (30) NULL ,
	TitleOfCourtesy varchar2 (25) NULL ,
	BirthDate date NULL ,
	HireDate date NULL ,
	Address varchar2 (60) NULL ,
	City varchar2 (15) NULL ,
	Region varchar2 (15) NULL ,
	PostalCode varchar2 (10) NULL ,
	Country varchar2 (15) NULL ,
	HomePhone varchar2 (24) NULL ,
	Extension varchar2 (4) NULL ,
	Photo blob NULL ,
	Notes blob NULL ,
	ReportsTo number NULL ,
	PhotoPath varchar2 (255) NULL );
/*	
	CONSTRAINT PK_Employees PRIMARY KEY 
	(
		EmployeeID
	),
	CONSTRAINT FK_Employees_Employees FOREIGN KEY 
	(
		ReportsTo
	) REFERENCES xxms.Employees (
		EmployeeID
	),
	CONSTRAINT CK_Birthdate CHECK (BirthDate < getdate())
);
*/

 CREATE  INDEX LastName ON Employees(LastName);

 CREATE  INDEX PostalCode ON Employees(PostalCode);


CREATE TABLE Categories (
	CategoryID number(1, 1) NOT NULL ,
	CategoryName varchar2(15) NOT NULL ,
	Description blob NULL,
	Picture blob NULL);
/*
	CONSTRAINT PK_Categories PRIMARY KEY  CLUSTERED 
	(
		CategoryID
	)
);
*/

 CREATE  INDEX CategoryName ON Categories(CategoryName);

CREATE TABLE Customers (
	CustomerID varchar2 (5) NOT NULL ,
	CompanyName varchar2 (40) NOT NULL ,
	ContactName varchar2 (30) NULL ,
	ContactTitle varchar2 (30) NULL ,
	Address varchar2 (60) NULL ,
	City varchar2 (15) NULL ,
	Region varchar2 (15) NULL ,
	PostalCode varchar2 (10) NULL ,
	Country varchar2 (15) NULL ,
	Phone varchar2 (24) NULL ,
	Fax varchar2 (24) NULL);
/*
	CONSTRAINT PK_Customers PRIMARY KEY  CLUSTERED 
	(
		CustomerID
	)
);
*/

 CREATE  INDEX City ON Customers(City);

 CREATE  INDEX CompanyName ON Customers(CompanyName);

 CREATE  INDEX PostalCode ON Customers(PostalCode);

 CREATE  INDEX Region ON Customers(Region);

CREATE TABLE Shippers (
	ShipperID number NOT NULL ,
	CompanyName varchar2 (40) NOT NULL ,
	Phone varchar2 (24) NULL);
/*
	CONSTRAINT PK_Shippers PRIMARY KEY  CLUSTERED 
	(
		ShipperID
	)
);
*/

CREATE TABLE Suppliers (
	SupplierID number NOT NULL ,
	CompanyName varchar2 (40) NOT NULL ,
	ContactName varchar2 (30) NULL ,
	ContactTitle varchar2 (30) NULL ,
	Address varchar2 (60) NULL ,
	City varchar2 (15) NULL ,
	Region varchar2 (15) NULL ,
	PostalCode varchar2 (10) NULL ,
	Country varchar2 (15) NULL ,
	Phone varchar2 (24) NULL ,
	Fax varchar2 (24) NULL ,
	HomePage varchar2(2000) NULL);
/*
	CONSTRAINT PK_Suppliers PRIMARY KEY  CLUSTERED 
	(
		SupplierID
	)
);
*/

 CREATE  INDEX CompanyName ON Suppliers(CompanyName);

 CREATE  INDEX PostalCode ON Suppliers(PostalCode);

CREATE TABLE Orders (
	OrderID number NOT NULL ,
	CustomerID varchar2 (5) NULL ,
	EmployeeID number NULL ,
	OrderDate varchar2(15) NULL ,
	RequiredDate varchar2(15) NULL ,
	ShippedDate varchar2(15) NULL ,
	ShipVia number NULL ,
	Freight number NULL,
	ShipName varchar2 (40) NULL ,
	ShipAddress varchar2 (60) NULL ,
	ShipCity varchar2 (15) NULL ,
	ShipRegion varchar2 (15) NULL ,
	ShipPostalCode varchar2 (10) NULL ,
	ShipCountry varchar2 (15) NULL);
/*
	CONSTRAINT PK_Orders PRIMARY KEY  CLUSTERED 
	(
		OrderID
	),
	CONSTRAINT FK_Orders_Customers FOREIGN KEY 
	(
		CustomerID
	) REFERENCES xxms.Customers (
		CustomerID
	),
	CONSTRAINT FK_Orders_Employees FOREIGN KEY 
	(
		EmployeeID
	) REFERENCES xxms.Employees (
		EmployeeID
	),
	CONSTRAINT FK_Orders_Shippers FOREIGN KEY 
	(
		ShipVia
	) REFERENCES xxms.Shippers (
		ShipperID
	)
);
*/

 CREATE  INDEX CustomerID ON Orders(CustomerID);

 CREATE  INDEX CustomersOrders ON Orders(CustomerID);

 CREATE  INDEX EmployeeID ON Orders(EmployeeID);

 CREATE  INDEX EmployeesOrders ON Orders(EmployeeID);

 CREATE  INDEX OrderDate ON Orders(OrderDate);

 CREATE  INDEX ShippedDate ON Orders(ShippedDate);

 CREATE  INDEX ShippersOrders ON Orders(ShipVia);

 CREATE  INDEX ShipPostalCode ON Orders(ShipPostalCode);

CREATE TABLE Products (
	ProductID number  NOT NULL ,
	ProductName varchar2 (40) NOT NULL ,
	SupplierID number NULL ,
	CategoryID number NULL ,
	QuantityPerUnit varchar2 (20) NULL ,
	UnitPrice number NULL ,
	UnitsInStock number NULL ,
	UnitsOnOrder number NULL ,
	ReorderLevel number NULL ,
	Discontinued number NOT NULL);
/*
	CONSTRAINT PK_Products PRIMARY KEY  CLUSTERED 
	(
		ProductID
	),
	CONSTRAINT FK_Products_Categories FOREIGN KEY 
	(
		CategoryID
	) REFERENCES xxms.Categories (
		CategoryID
	),
	CONSTRAINT FK_Products_Suppliers FOREIGN KEY 
	(
		SupplierID
	) REFERENCES xxms.Suppliers (
		SupplierID
	),
	CONSTRAINT CK_Products_UnitPrice CHECK (UnitPrice >= 0),
	CONSTRAINT CK_ReorderLevel CHECK (ReorderLevel >= 0),
	CONSTRAINT CK_UnitsInStock CHECK (UnitsInStock >= 0),
	CONSTRAINT CK_UnitsOnOrder CHECK (UnitsOnOrder >= 0)
);
*/

 CREATE  INDEX CategoriesProducts ON Products(CategoryID);

 CREATE  INDEX CategoryID ON Products(CategoryID);

 CREATE  INDEX ProductName ON Products(ProductName);

 CREATE  INDEX SupplierID ON Products(SupplierID);

 CREATE  INDEX SuppliersProducts ON Products(SupplierID);


CREATE TABLE Order_Details (
	OrderID number NOT NULL ,
	ProductID number NOT NULL ,
	UnitPrice number NOT NULL ,
	Quantity number NOT NULL ,
	Discount number NOT NULL );

/*
	CONSTRAINT PK_Order_Details PRIMARY KEY  CLUSTERED 
	(
		OrderID,
		ProductID
	),
	CONSTRAINT FK_Order_Details_Orders FOREIGN KEY 
	(
		OrderID
	) REFERENCES xxms.Orders (
		OrderID
	),
	CONSTRAINT FK_Order_Details_Products FOREIGN KEY 
	(
		ProductID
	) REFERENCES xxms.Products (
		ProductID
	),
	CONSTRAINT CK_Discount CHECK (Discount >= 0 and (Discount <= 1)),
	CONSTRAINT CK_Quantity CHECK (Quantity > 0),
	CONSTRAINT CK_UnitPrice CHECK (UnitPrice >= 0)
);
*/

create synonym "Order Details" for Order_Details;

 CREATE  INDEX OrderID ON Order_Details(OrderID);

 CREATE  INDEX OrdersOrder_Details ON Order_Details(OrderID);

 CREATE  INDEX ProductID ON Order_Details(ProductID);

 CREATE  INDEX ProductsOrder_Details ON Order_Details(ProductID);


create view  Customer_and_Suppliers_by_City  AS
SELECT City, CompanyName, ContactName, 'Customers' TableFrom
FROM Customers
UNION 
SELECT City, CompanyName, ContactName, 'Suppliers'
FROM Suppliers;
--ORDER BY City, CompanyName

create synonym "Customer and Suppliers by City" for Customer_and_Suppliers_by_City;

create view Alphabetical_list_of_products AS
SELECT Products.*, Categories.CategoryName
FROM Categories, Products
WHERE Categories.CategoryID = Products.CategoryID
  and (((Products.Discontinued)=0));

create synonym "Alphabetical list of products" for Alphabetical_list_of_products;

create view Current_Product_List AS
SELECT ProductID, ProductName
FROM Products 
WHERE (((Discontinued)=0));
--ORDER BY Product_List.ProductName

create synonym "Current Product List" for Current_Product_List;

create view Orders_Qry AS
SELECT Orders.OrderID, Orders.CustomerID, Orders.EmployeeID, Orders.OrderDate, Orders.RequiredDate, 
	Orders.ShippedDate, Orders.ShipVia, Orders.Freight, Orders.ShipName, Orders.ShipAddress, Orders.ShipCity, 
	Orders.ShipRegion, Orders.ShipPostalCode, Orders.ShipCountry, 
	Customers.CompanyName, Customers.Address, Customers.City, Customers.Region, Customers.PostalCode, Customers.Country
FROM Customers,Orders
where Customers.CustomerID = Orders.CustomerID;

create synonym "Orders Qry" for Orders_Qry;

create view Products_Above_Average_Price AS
SELECT Products.ProductName, Products.UnitPrice
FROM Products
WHERE Products.UnitPrice>(SELECT AVG(UnitPrice) From Products);
--ORDER BY Products.UnitPrice DESC

create synonym "Products Above Average Price" for Products_Above_Average_Price;

create view Products_by_Category AS
SELECT Categories.CategoryName, Products.ProductName, Products.QuantityPerUnit, Products.UnitsInStock, Products.Discontinued
FROM Categories, Products
WHERE Categories.CategoryID = Products.CategoryID
 and Products.Discontinued <> 1;
--ORDER BY Categories.CategoryName, Products.ProductName

create synonym "Products by Category" for Products_by_Category;

create or replace view Quarterly_Orders AS
SELECT DISTINCT Customers.CustomerID, Customers.CompanyName, Customers.City, Customers.Country
FROM Customers, Orders 
WHERE Customers.CustomerID = Orders.CustomerID
  and to_date(Orders.OrderDate, 'MM/DD/YYYY') BETWEEN to_date('19970101', 'YYYYMMDD') And to_date('19971231', 'YYYYMMDD');

  create synonym "Quarterly Orders" for Quarterly_Orders;

create view Invoices AS
SELECT Orders.ShipName, Orders.ShipAddress, Orders.ShipCity, Orders.ShipRegion, Orders.ShipPostalCode, 
	Orders.ShipCountry, Orders.CustomerID, Customers.CompanyName AS CustomerName, Customers.Address, Customers.City, 
	Customers.Region, Customers.PostalCode, Customers.Country, 
	(FirstName||' '||LastName) AS Salesperson, 
	Orders.OrderID, Orders.OrderDate, Orders.RequiredDate, Orders.ShippedDate, Shippers.CompanyName As ShipperName, 
	Order_Details.ProductID, Products.ProductName, Order_Details.UnitPrice, Order_Details.Quantity, 
	Order_Details.Discount, 
	Order_Details.UnitPrice*Quantity*(1-Discount)/100 *100  AS ExtendedPrice, Orders.Freight
FROM 	Shippers, Products, Employees, Customers, Orders, Order_Details
where Customers.CustomerID = Orders.CustomerID
  and Employees.EmployeeID = Orders.EmployeeID
  and Orders.OrderID = Order_Details.OrderID
  and Products.ProductID = Order_Details.ProductID
  and Shippers.ShipperID = Orders.ShipVia;


create view Order_Details_Extended AS
SELECT Order_Details.OrderID, Order_Details.ProductID, Products.ProductName, 
	Order_Details.UnitPrice, Order_Details.Quantity, Order_Details.Discount, 
	Order_Details.UnitPrice*Quantity*(1-Discount)/100 * 100 AS ExtendedPrice
FROM Products, Order_Details 
where Products.ProductID = Order_Details.ProductID;
--ORDER BY Order Details.OrderID

create synonym "Order Details Extended" for Order_Details_Extended;

create view Order_Subtotals AS
SELECT Order_Details.OrderID, Sum(Order_Details.UnitPrice*Quantity*(1-Discount)/100*100) AS Subtotal
FROM Order_Details
GROUP BY Order_Details.OrderID;

create synonym "Order Subtotals" for Order_Subtotals;

create or replace view Product_Sales_for_1997 AS
SELECT Categories.CategoryName, Products.ProductName, 
Sum(Order_Details.UnitPrice*Quantity*(1-Discount)/100*100) AS ProductSales
FROM Categories , Products, Order_Details, Orders
where Categories.CategoryID = Products.CategoryID
and	  Orders.OrderID = Order_Details.OrderID 
and	  Products.ProductID = Order_Details.ProductID
and   to_date(Orders.ShippedDate, 'MM/DD/YYYY') Between to_date('19970101', 'YYYYMMDD') And to_date('19971231', 'YYYYMMDD')
GROUP BY Categories.CategoryName, Products.ProductName;

create synonym "Product Sales for 1997" for Product_Sales_for_1997;

create view Category_Sales_for_1997 AS
SELECT Product_Sales_for_1997.CategoryName, Sum(Product_Sales_for_1997.ProductSales) AS CategorySales
FROM Product_Sales_for_1997
GROUP BY Product_Sales_for_1997.CategoryName;

create synonym "Category Sales for 1997" for Category_Sales_for_1997;

create or replace view Sales_by_Category AS
SELECT Categories.CategoryID, Categories.CategoryName, Products.ProductName, 
	Sum(Order_Details_Extended.ExtendedPrice) AS ProductSales
FROM 	Categories, Products, Order_Details_Extended, Orders
where  Orders.OrderID = Order_Details_Extended.OrderID 
and    Products.ProductID = Order_Details_Extended.ProductID 
and   Categories.CategoryID = Products.CategoryID
and   to_date(Orders.OrderDate, 'MM/DD/YYYY') BETWEEN to_date('19970101', 'YYYYMMDD') And to_date('19971231', 'YYYYMMDD')
GROUP BY Categories.CategoryID, Categories.CategoryName, Products.ProductName;
--ORDER BY Products.ProductName

create synonym "Sales by Category" for Sales_by_Category;

create or replace view Sales_Totals_by_Amount AS
SELECT Order_Subtotals.Subtotal AS SaleAmount, Orders.OrderID, Customers.CompanyName, Orders.ShippedDate
FROM 	Customers,  Order_Subtotals, Orders
where Orders.OrderID = Order_Subtotals.OrderID 
and  Customers.CustomerID = Orders.CustomerID
and (Order_Subtotals.Subtotal >2500) AND (to_date(Orders.ShippedDate, 'MM/DD/YYYY') BETWEEN to_date('19970101', 'YYYYMMDD') And to_date('19971231', 'YYYYMMDD'));

create synonym "Sales Totals by Amount" for Sales_Totals_by_Amount;

create view Summary_of_Sales_by_Quarter AS
SELECT Orders.ShippedDate, Orders.OrderID, Order_Subtotals.Subtotal
FROM Orders, Order_Subtotals 
where Orders.OrderID = Order_Subtotals.OrderID
and Orders.ShippedDate IS NOT NULL;
--ORDER BY Orders.ShippedDate

create synonym "Summary of Sales by Quarter" for Summary_of_Sales_by_Quarter;

create view Summary_of_Sales_by_Year AS
SELECT Orders.ShippedDate, Orders.OrderID, Order_Subtotals.Subtotal
FROM Orders, Order_Subtotals 
where Orders.OrderID = Order_Subtotals.OrderID
and Orders.ShippedDate IS NOT NULL;
--ORDER BY Orders.ShippedDate

create synonym "Summary of Sales by Year" for Summary_of_Sales_by_Year;

/*
create procedure Ten Most Expensive Products AS
SET ROWCOUNT 10
SELECT Products.ProductName AS TenMostExpensiveProducts, Products.UnitPrice
FROM Products
ORDER BY Products.UnitPrice DESC


create procedure Employee Sales by Country 
@Beginning_Date DateTime, @Ending_Date DateTime AS
SELECT Employees.Country, Employees.LastName, Employees.FirstName, Orders.ShippedDate, Orders.OrderID, Order Subtotals.Subtotal AS SaleAmount
FROM Employees INNER JOIN 
	(Orders INNER JOIN Order Subtotals ON Orders.OrderID = Order Subtotals.OrderID) 
	ON Employees.EmployeeID = Orders.EmployeeID
WHERE Orders.ShippedDate Between @Beginning_Date And @Ending_Date


create procedure Sales by Year 
	@Beginning_Date DateTime, @Ending_Date DateTime AS
SELECT Orders.ShippedDate, Orders.OrderID, Order Subtotals.Subtotal, DATENAME(yy,ShippedDate) AS Year
FROM Orders INNER JOIN Order Subtotals ON Orders.OrderID = Order Subtotals.OrderID
WHERE Orders.ShippedDate Between @Beginning_Date And @Ending_Date
*/

/*
ALTER TABLE Categories CHECK CONSTRAINT ALL;

ALTER TABLE Customers NOCHECK CONSTRAINT ALL;
*/

INSERT INTO Customers VALUES('ALFKI','Alfreds Futterkiste','Maria Anders','Sales Representative','Obere Str. 57','Berlin',NULL,'12209','Germany','030-0074321','030-0076545');
INSERT INTO Customers VALUES('ANATR','Ana Trujillo Emparedados y helados','Ana Trujillo','Owner','Avda. de la Constitución 2222','México D.F.',NULL,'05021','Mexico','(5) 555-4729','(5) 555-3745');
INSERT INTO Customers VALUES('ANTON','Antonio Moreno Taquería','Antonio Moreno','Owner','Mataderos  2312','México D.F.',NULL,'05023','Mexico','(5) 555-3932',NULL);










/*
ALTER TABLE Customers CHECK CONSTRAINT ALL;


ALTER TABLE Employees NOCHECK CONSTRAINT ALL;

ALTER TABLE Employees CHECK CONSTRAINT ALL;

ALTER TABLE Order Details NOCHECK CONSTRAINT ALL;
*/

INSERT INTO Order_Details VALUES(10248,11,14,12,0);
INSERT INTO Order_Details VALUES(10248,42,9.8,10,0);
INSERT INTO Order_Details VALUES(10248,72,34.8,5,0);
























































































































































































































/*
ALTER TABLE Order_Details CHECK CONSTRAINT ALL;

ALTER TABLE Orders NOCHECK CONSTRAINT ALL;
*/

INSERT INTO Orders
(OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,
	ShippedDate,ShipVia,Freight,ShipName,ShipAddress,
	ShipCity,ShipRegion,ShipPostalCode,ShipCountry)
VALUES (10248,'VINET',5,'7/4/1996','8/1/1996','7/16/1996',3,32.38,
	'Vins et alcools Chevalier','59 rue de l Abbaye','Reims',
	NULL,'51100','France');
	
INSERT INTO Orders
(OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,
	ShippedDate,ShipVia,Freight,ShipName,ShipAddress,
	ShipCity,ShipRegion,ShipPostalCode,ShipCountry)
VALUES (10249,'TOMSP',6,'7/5/1996','8/16/1996','7/10/1996',1,11.61,
	'Toms Spezialitäten','Luisenstr. 48','Münster',
	NULL,'44087','Germany');
	
INSERT INTO Orders
(OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,
	ShippedDate,ShipVia,Freight,ShipName,ShipAddress,
	ShipCity,ShipRegion,ShipPostalCode,ShipCountry)
VALUES (10250,'HANAR',4,'7/8/1996','8/5/1996','7/12/1996',2,65.83,
	'Hanari Carnes','Rua do Paço, 67','Rio de Janeiro',
	'RJ','05454-876','Brazil');
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*
ALTER TABLE Orders CHECK CONSTRAINT ALL;

ALTER TABLE Products NOCHECK CONSTRAINT ALL;
*/

INSERT INTO Products(ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued) VALUES(1,'Chai',1,1,'10 boxes x 20 bags',18,39,0,10,0);
INSERT INTO Products(ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued) VALUES(2,'Chang',1,1,'24 - 12 oz bottles',19,17,40,25,0);
INSERT INTO Products(ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued) VALUES(3,'Aniseed Syrup',1,2,'12 - 550 ml bottles',10,13,70,25,0);








/*
ALTER TABLE Products CHECK CONSTRAINT ALL;
ALTER TABLE Shippers NOCHECK CONSTRAINT ALL;
*/

INSERT INTO Shippers(ShipperID,CompanyName,Phone) VALUES(1,'Speedy Express','(503) 555-9831');
INSERT INTO Shippers(ShipperID,CompanyName,Phone) VALUES(2,'United Package','(503) 555-3199');
INSERT INTO Shippers(ShipperID,CompanyName,Phone) VALUES(3,'Federal Shipping','(503) 555-9931');

/*
ALTER TABLE Shippers CHECK CONSTRAINT ALL;
ALTER TABLE Suppliers NOCHECK CONSTRAINT ALL;
*/

INSERT INTO Suppliers(SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage) VALUES(1,'Exotic Liquids','Charlotte Cooper','Purchasing Manager','49 Gilbert St.','London',NULL,'EC1 4SD','UK','(171) 555-2222',NULL,NULL);
INSERT INTO Suppliers(SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage) VALUES(2,'New Orleans Cajun Delights','Shelley Burke','Order Administrator','P.O. Box 78934','New Orleans','LA','70117','USA','(100) 555-4822',NULL,'#CAJUN.HTM#');
INSERT INTO Suppliers(SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage) VALUES(3,'Grandma Kelly''s Homestead','Regina Murphy','Sales Representative','707 Oxford Rd.','Ann Arbor','MI','48104','USA','(313) 555-5735','(313) 555-3349',NULL);



/*
ALTER TABLE Suppliers CHECK CONSTRAINT ALL;
*/

/* The following adds stored procedures */
/*
CREATE PROCEDURE CustOrdersDetail @OrderID int
AS
SELECT ProductName,
    UnitPrice=ROUND(Od.UnitPrice, 2),
    Quantity,
    Discount=CONVERT(int, Discount * 100), 
    ExtendedPrice=ROUND(CONVERT(money, Quantity * (1 - Discount) * Od.UnitPrice), 2)
FROM Products P, [Order_Details] Od
WHERE Od.ProductID = P.ProductID and Od.OrderID = @OrderID
go

CREATE PROCEDURE CustOrdersOrders @CustomerID nchar(5)
AS
SELECT OrderID, 
	OrderDate,
	RequiredDate,
	ShippedDate
FROM Orders
WHERE CustomerID = @CustomerID
ORDER BY OrderID

CREATE PROCEDURE CustOrderHist @CustomerID nchar(5)
AS
SELECT ProductName, Total=SUM(Quantity)
FROM Products P, [Order_Details] OD, Orders O, Customers C
WHERE C.CustomerID = @CustomerID
AND C.CustomerID = O.CustomerID AND O.OrderID = OD.OrderID AND OD.ProductID = P.ProductID
GROUP BY ProductName


CREATE PROCEDURE SalesByCategory
    @CategoryName varchar2(15), @OrdYear varchar2(4) = '1998'
AS
IF @OrdYear != '1996' AND @OrdYear != '1997' AND @OrdYear != '1998' 
BEGIN
	SELECT @OrdYear = '1998'
END

SELECT ProductName,
	TotalPurchase=ROUND(SUM(CONVERT(decimal(14,2), OD.Quantity * (1-OD.Discount) * OD.UnitPrice)), 0)
FROM [Order_Details] OD, Orders O, Products P, Categories C
WHERE OD.OrderID = O.OrderID 
	AND OD.ProductID = P.ProductID 
	AND P.CategoryID = C.CategoryID
	AND C.CategoryName = @CategoryName
	AND SUBSTRING(CONVERT(varchar2(22), O.OrderDate, 111), 1, 4) = @OrdYear
GROUP BY ProductName
ORDER BY ProductName
*/


/* The follwing adds tables to the Northwind database */


CREATE TABLE CustomerCustomerDemo
	(CustomerID varchar2(5) NOT NULL,
	CustomerTypeID varchar2(10) NOT NULL
) 
;

CREATE TABLE CustomerDemographics
	(CustomerTypeID varchar2 (10) NOT NULL ,
	 CustomerDesc varchar2(200) NULL 
)
;
	
CREATE TABLE Region 
	( RegionID number NOT NULL ,
	RegionDescription varchar2 (50) NOT NULL 
) 
;

CREATE TABLE Territories 
	(TerritoryID varchar2 (20) NOT NULL ,
	TerritoryDescription varchar2 (50) NOT NULL ,
        RegionID number NOT NULL
) 
;

CREATE TABLE EmployeeTerritories 
	(EmployeeID number NOT NULL,
	TerritoryID varchar2 (20) NOT NULL 
) 
;

-- The following adds data to the tables just created.


Insert Into Region Values (1,'Eastern');
Insert Into Region Values (2,'Western');
Insert Into Region Values (3,'Northern');


Insert Into Territories Values ('01581','Westboro',1);
Insert Into Territories Values ('01730','Bedford',1);
Insert Into Territories Values ('01833','Georgetow',1);


Insert Into EmployeeTerritories Values (1,'06897');
Insert Into EmployeeTerritories Values (1,'19713');
Insert Into EmployeeTerritories Values (2,'01581');




--  The following adds constraints to the Northwind database
/*
ALTER TABLE CustomerCustomerDemo
	ADD CONSTRAINT [PK_CustomerCustomerDemo] PRIMARY KEY  NONCLUSTERED 
	(
		[CustomerID],
		[CustomerTypeID]
	) ON [PRIMARY]
;

ALTER TABLE CustomerDemographics
	ADD CONSTRAINT [PK_CustomerDemographics] PRIMARY KEY  NONCLUSTERED 
	(
		[CustomerTypeID]
	) ON [PRIMARY]
;

ALTER TABLE CustomerCustomerDemo
	ADD CONSTRAINT [FK_CustomerCustomerDemo] FOREIGN KEY 
	(
		[CustomerTypeID]
	) REFERENCES [xxms].[CustomerDemographics] (
		[CustomerTypeID]
	)
;

ALTER TABLE CustomerCustomerDemo
	ADD CONSTRAINT [FK_CustomerCustomerDemo_Customers] FOREIGN KEY
	(
		[CustomerID]
	) REFERENCES [xxms].[Customers] (
		[CustomerID]
	)
;

ALTER TABLE Region
	ADD CONSTRAINT [PK_Region] PRIMARY KEY  NONCLUSTERED 
	(
		[RegionID]
	)  ON [PRIMARY] 
;

ALTER TABLE Territories
	ADD CONSTRAINT [PK_Territories] PRIMARY KEY  NONCLUSTERED 
	(
		[TerritoryID]
	)  ON [PRIMARY] 
;

ALTER TABLE Territories
	ADD CONSTRAINT [FK_Territories_Region] FOREIGN KEY 
	(
		[RegionID]
	) REFERENCES [xxms].[Region] (
		[RegionID]
	)
;

ALTER TABLE EmployeeTerritories
	ADD CONSTRAINT [PK_EmployeeTerritories] PRIMARY KEY  NONCLUSTERED 
	(
		[EmployeeID],
		[TerritoryID]
	) ON [PRIMARY]
;

ALTER TABLE EmployeeTerritories
	ADD CONSTRAINT [FK_EmployeeTerritories_Employees] FOREIGN KEY 
	(
		[EmployeeID]
	) REFERENCES [xxms].[Employees] (
		[EmployeeID]
	)
;


ALTER TABLE EmployeeTerritories	
	ADD CONSTRAINT [FK_EmployeeTerritories_Territories] FOREIGN KEY 
	(
		[TerritoryID]
	) REFERENCES [xxms].[Territories] (
		[TerritoryID]
	)
;
*/