<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2019 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.obeonetwork.dsl.environment.properties.Activator"
               id="org.obeonetwork.dsl.environment.properties"
	       name="environment-properties">
    </component>
  </extension>
  <extension
        point="org.eclipse.eef.ide.ui.eefLifecycleManagerProvider">
     <descriptor
           class="org.obeonetwork.dsl.environment.properties.ui.eef.widget.TableLifecycleManagerProvider"
           description="%metadataTableLifecycleManagerProvider.Description"
           id="org.obeonetwork.dsl.environment.properties.metadata.table"
           label="%metadataTableLifecycleManagerProvider.Label">
     </descriptor>
  </extension>
  <extension
        point="org.eclipse.sirius.properties.core.descriptionLinkResolver">
     <descriptor
           class="org.obeonetwork.dsl.environment.properties.internal.link.resolver.MetadataEnvironmentPropertiesLinkResolver"
           description="%environmentPropertiesLinkResolver.Description"
           id="org.obeonetwork.dsl.environment.properties.internal.link.resolver"
           label="%environmentPropertiesLinkResolver.Label">
     </descriptor>
  </extension>
</plugin>
