<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2008, 2023 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.obeonetwork.org/dsl/technicalid/2.0.0" 
       class = "org.obeonetwork.dsl.technicalid.TechnicalIDPackage"
       genModel = "model/technicalid.genmodel" /> 
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated technicalid -->
      <parser
            type="technicalid"
            class="org.obeonetwork.dsl.technicalid.util.TechnicalIDResourceFactoryImpl"/>
   </extension>
</plugin>
