<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2008, 2022 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
  <extension-point id="overviewModelDef" name="org.obeonetwork.dsl.overview.overviewModelDef" schema="schema/overviewModelDef.exsd"/>
  

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.obeonetwork.org/dsl/overview/2.0.0" 
       class = "org.obeonetwork.dsl.overview.OverviewPackage"
       genModel = "model/overview.genmodel" /> 
  </extension>
  
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="ois"
            class="org.obeonetwork.dsl.overview.util.OverviewResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.core.contenttype.contentTypes">
     <file-association
           content-type="org.eclipse.emf.compare.content.type"
           file-extensions="ois"
           file-names="*">
     </file-association>
   </extension>
</plugin>
