<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2008, 2023 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->
<plugin>
   <extension
         name="Generic queries"
         point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.RequirementReferencesReferencedObjectCategory"
            isTopLevel="true"
            name="References">
         <availableForType
               class="org.obeonetwork.dsl.requirement.Requirement">
         </availableForType>
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.RequirementReferencesReferencedObjectQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.RequirementReferencesOthersCategory"
            isTopLevel="true"
            name="All direct references">
         <availableForType
               class="org.obeonetwork.dsl.requirement.Requirement">
         </availableForType>
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.RequirementReferencesOtherQuery">
            </basicQuery>
         </categoryQuery>
      </category>
            <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.CategoriesContainerReferencesCategory"
            isTopLevel="true"
            name="All direct references">
         <availableForType
               class="org.obeonetwork.dsl.requirement.CategoriesContainer">
         </availableForType>
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.CategoriesContainerReferencesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.CategoriesContainerIsReferencedByCategory"
            isTopLevel="true"
            name="All direct references">
         <availableForType
               class="org.obeonetwork.dsl.requirement.CategoriesContainer">
         </availableForType>
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.RequirementIsReferencedByQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.RequirementIsReferencedByCategory"
            isTopLevel="true"
            name="All direct references">
         <availableForType
               class="org.obeonetwork.dsl.requirement.Requirement">
         </availableForType>
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.RequirementIsReferencedByQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.ObeoDSMObjectReferencesGenericCategory"
            isTopLevel="true"
            name="All direct references">
         <availableForType
               class="org.obeonetwork.dsl.environment.ObeoDSMObject">
         </availableForType>
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.EObjectReferencesGenericQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.ObeoDSMObjectIsReferencedByGenericCategory"
            isTopLevel="true"
            name="All direct references">
         <availableForType
               class="org.obeonetwork.dsl.environment.ObeoDSMObject">
         </availableForType>
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery class="org.obeonetwork.tools.contextual.explorer.ui.queries.EObjectIsReferencedByGenericQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.DatabaseElementReferencesGenericCategory"
            isTopLevel="true"
            name="All direct references">
         <availableForType
               class="org.obeonetwork.dsl.database.DatabaseElement">
         </availableForType>
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.EObjectReferencesGenericQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.DatabaseElementIsReferencedByGenericCategory"
            isTopLevel="true"
            name="All direct references">
         <availableForType
               class="org.obeonetwork.dsl.database.DatabaseElement">
         </availableForType>
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.EObjectIsReferencedByGenericQuery">
            </basicQuery>
         </categoryQuery>
      </category>
   </extension>
   <extension
         name="Specific queries"
         point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.ObeoDSMObjectReferencesMetadataCategory"
            isTopLevel="true"
            name="Metadata">
         <availableForType
               class="org.obeonetwork.dsl.environment.ObeoDSMObject">
         </availableForType>
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.EObjectReferencesMetadataQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.ObeoDSMObjectIsReferencedByRequirementCategory"
            isTopLevel="true"
            name="Requirements">
         <availableForType
               class="org.obeonetwork.dsl.environment.ObeoDSMObject">
         </availableForType>
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.EObjectIsReferencedByRequirementQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.DatabaseElementIsReferencedByRequirementCategory"
            isTopLevel="true"
            name="Requirements">
         <availableForType
               class="org.obeonetwork.dsl.database.DatabaseElement">
         </availableForType>
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.EObjectIsReferencedByRequirementQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.DocumentationLinkReferencesCategory"
            isTopLevel="true"
            name="Container">
         <availableForType
               class="org.obeonetwork.dsl.environment.Annotation">
         </availableForType>
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.DocumentationLinkIsReferencedByQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.obeonetwork.tools.contextual.explorer.ui.category.MetadataIsReferencedByCategory"
            isTopLevel="true"
            name="Container">
         <availableForType
               class="org.obeonetwork.dsl.environment.MetaData">
         </availableForType>
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <categoryQuery>
            <basicQuery
                  class="org.obeonetwork.tools.contextual.explorer.ui.queries.MetadataIsReferencedByQuery">
            </basicQuery>
         </categoryQuery>
      </category>
   </extension>
   <extension
         point="org.eclipse.amalgam.explorer.contextual.core.labelProviderFactory">
      <labelProviderFactory
            class="org.obeonetwork.tools.contextual.explorer.ui.providers.ISLabelProviderFactory">
      </labelProviderFactory>
   </extension>

</plugin>
