<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2008, 2025 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.obeonetwork.dsl.overview.presentation.OverviewModelWizardID"
            name="%_UI_OverviewModelWizard_label"
            class="org.obeonetwork.dsl.overview.presentation.OverviewModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OverviewModelFile.gif">
         <description>%_UI_OverviewModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.overview.presentation.OverviewEditorID"
            name="%_UI_OverviewEditor_label"
            icon="icons/full/obj16/OverviewModelFile.gif"
            extensions="overview"
            class="org.obeonetwork.dsl.overview.presentation.OverviewEditor"
            contributorClass="org.obeonetwork.dsl.overview.presentation.OverviewActionBarContributor">
      </editor>
   </extension>

</plugin>
