<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.obeonetwork.org/dsl/soa/3.0.0" 
       class = "org.obeonetwork.dsl.soa.SoaPackage"
       genModel = "model/soa.genmodel" /> 
  </extension>
  
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="soa"
            class="org.obeonetwork.dsl.soa.util.SoaResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.core.contenttype.contentTypes">
     <file-association
           content-type="org.eclipse.emf.compare.content.type"
           file-extensions="soa"
           file-names="*">
     </file-association>
   </extension>
</plugin>

