<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2011 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/database/1.0"
            class="org.obeonetwork.dsl.database.provider.DatabaseItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
   <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/database/1.0"
            class="org.obeonetwork.dsl.database.providers.CustomDatabaseEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.database.providers.DatabasePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
    
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertyTab
               label="DataBase"
               category="semantic &amp; extension"
               id="DataBase"
               afterTab="top">
         </propertyTab>
         <propertyTab
               label="Column"
               category="semantic &amp; extension"
               id="Column"
               afterTab="top">
         </propertyTab>
         <propertyTab
               label="Index"
               category="semantic &amp; extension"
               id="Index"
               afterTab="top">
         </propertyTab>
         <propertyTab
               label="View"
               category="semantic &amp; extension"
               id="View"
               afterTab="top">
         </propertyTab>
         <propertyTab
               label="Table"
               category="semantic &amp; extension"
               id="Table">
         </propertyTab>
         <propertyTab
               label="Primary Key"
               category="semantic &amp; extension"
               id="Primary Key"
               afterTab="Table">
         </propertyTab>
         <propertyTab
               label="Foreign Keys"
               category="semantic &amp; extension"
               id="Foreign Keys"
               afterTab="Primary Key">
         </propertyTab>
         <propertyTab
               label="Indexes"
               category="semantic &amp; extension"
               id="Indexes"
               afterTab="Foreign Keys">
         </propertyTab>
         <propertyTab
               label="Constraints"
               category="semantic &amp; extension"
               id="Constraints"
               afterTab="Indexes">
         </propertyTab>
         <propertyTab
               label="Foreign Key"
               category="semantic &amp; extension"
               id="Foreign Key">
         </propertyTab>
         <propertyTab
               label="Foreign Key Element"
               category="semantic &amp; extension"
               id="Foreign Key Element">
         </propertyTab>
         <propertyTab
               label="Index Element"
               category="semantic &amp; extension"
               id="Index Element">
         </propertyTab>
         <propertyTab
               label="Constraint"
               category="semantic &amp; extension"
               id="Constraint">
         </propertyTab>
         <propertyTab
               label="Schema"
               category="semantic &amp; extension"
               id="Schema">
         </propertyTab>
         <propertyTab
               label="Sequence"
               category="semantic &amp; extension"
               id="Sequence">
         </propertyTab>
      </propertyTabs>
   </extension>
  
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.DataBasePropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.DataBase"
               filter="org.obeonetwork.dsl.database.filters.DataBaseTabPropertiesEditionSection"
               tab="DataBase">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.ColumnPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Column"
               filter="org.obeonetwork.dsl.database.filters.ColumnTabPropertiesEditionSection"
               tab="Column">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.IndexPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Index"
               filter="org.obeonetwork.dsl.database.filters.IndexTabPropertiesEditionSection"
               tab="Index">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.ViewPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.View"
               filter="org.obeonetwork.dsl.database.filters.ViewTabPropertiesEditionSection"
               tab="View">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.TablePropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Table"
               filter="org.obeonetwork.dsl.database.filters.TableTabPropertiesEditionSection"
               tab="Table">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.PrimaryKeyPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Table.PrimaryKey"
               filter="org.obeonetwork.dsl.database.filters.PrimaryKeyForTableTabPropertiesEditionSection"
               tab="Primary Key">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.ForeignKeysPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Table.ForeignKeys"
               filter="org.obeonetwork.dsl.database.filters.TableTabPropertiesEditionSection"
               tab="Foreign Keys">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.ConstraintsPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Table.Constraints"
               filter="org.obeonetwork.dsl.database.filters.TableTabPropertiesEditionSection"
               tab="Constraints">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.IndexesPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Table.Indexes"
               filter="org.obeonetwork.dsl.database.filters.TableTabPropertiesEditionSection"
               tab="Indexes">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.PrimaryKeyPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.PrimaryKey"
               filter="org.obeonetwork.dsl.database.filters.PrimaryKeyTabPropertiesEditionSection"
               tab="Primary Key">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.ForeignKeyPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.ForeignKey"
               filter="org.obeonetwork.dsl.database.filters.ForeignKeyTabPropertiesEditionSection"
               tab="Foreign Key">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.ForeignKeyElementPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.ForeignKeyElement"
               filter="org.obeonetwork.dsl.database.filters.ForeignKeyElementTabPropertiesEditionSection"
               tab="Foreign Key Element">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.IndexElementPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.IndexElement"
               filter="org.obeonetwork.dsl.database.filters.IndexElementTabPropertiesEditionSection"
               tab="Index Element">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.ConstraintPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Constraint"
               filter="org.obeonetwork.dsl.database.filters.ConstraintTabPropertiesEditionSection"
               tab="Constraint">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.SchemaPropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Schema"
               filter="org.obeonetwork.dsl.database.filters.SchemaTabPropertiesEditionSection"
               tab="Schema">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.database.parts.forms.SequencePropertiesEditionPartForm"
               id="org.obeonetwork.dsl.database.section.Sequence"
               filter="org.obeonetwork.dsl.database.filters.SequenceTabPropertiesEditionSection"
               tab="Sequence">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
