<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<!-- Start of user code for start of document -->
	 
	<!-- End of user code for start of document -->
	<import resource="/ScenarioPrincipal/applicationContext-WEB.xml"/>
	<!-- Start of user code for end of document -->
	 
	<!-- End of user code for end of document -->
</beans>