<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2010 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation

 $Id$
-->
<plugin>
		<extension
				point="org.eclipse.sirius.componentization">
		<component
				class="org.obeonetwork.dsl.requirement.design.Activator" id="org.obeonetwork.dsl.requirement.design" name="requirement">
		</component>
		</extension>
		
<!-- EEF extensions -->

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.table.ui.EditorID"
            labelProvider="org.obeonetwork.dsl.requirement.parts.forms.CustomEEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertyTab
               category="default"
               id="Repository"
               label="Repository"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="default"
               id="Category"
               label="Category"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="default"
               id="Advanced"
               label="Advanced"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="default"
               id="Requirement"
               label="Requirement"
               afterTab="top">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.obeonetwork.dsl.requirement.parts.forms.CustomRepositoryPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.requirement.filters.RepositoryTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Repository"
               tab="Repository">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.requirement.parts.forms.CustomCategoryPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.requirement.filters.CategoryTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Category"
               tab="Category">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.requirement.parts.forms.CustomRequirementPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.requirement.filters.RequirementTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Requirement"
               tab="Requirement">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.requirement.parts.forms.CustomAdvancedPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.requirement.filters.RequirementTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Requirement"
               tab="Advanced">
         </propertySection>
      </propertySections>
   </extension>
</plugin>