<!--
 /*******************************************************************************
 * Copyright (c) 2012 Obeo.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Hugo Marchadour (Obeo) - initial API and implementation
 *******************************************************************************/
-->
<!--
	@autor hugo.marchadour@obeo.fr
	@version 0.7.0
	@since 0.7.0
	
	Ember.View
	@generated
-->
<!--
	@param {model.Account} account
-->
<script type="text/x-handlebars" data-template-name="account-nav">
	<!-- Start of user code account-nav -->
		<li class="nav-header" style="margin-left: -15px;margin-right: -15px;">
		{{account.nickname}} account
	</li>
	<li>
		<a href="#" class="state-profile"><i class="icon-user"></i> Profile</a>
	</li>
	<li>
		<a href="#" class="state-settings"><i class="icon-cog"></i> Settings</a>
	</li>
	<!-- End of user code -->
</script>

