<!--
 /*******************************************************************************
 * Copyright (c) 2012 Obeo.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Hugo Marchadour (Obeo) - initial API and implementation
 *******************************************************************************/
-->
<!--
	@autor hugo.marchadour@obeo.fr
	@version 1.0.0
	@since 1.0.0
	
	Ember.View
	@generated
-->
<script type="text/x-handlebars" data-template-name="admin-menu-left">
	<!-- Start of user code admin-menu-left -->
	<ul class="nav nav-list">
<li class="nav-header">
	News
</li>
<li class="active">
	<a href="#" class="admins"><i class="icon-gift icon-home"></i> Admin</a>
</li>
</ul>
	<!-- End of user code -->
</script>

