<!--
 /*******************************************************************************
 * Copyright (c) 2012 Obeo.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Hugo Marchadour (Obeo) - initial API and implementation
 *******************************************************************************/
-->
<!--
	@autor hugo.marchadour@obeo.fr
	@version 1.0.0
	@since 1.0.0
	
	Ember.View
	@generated
-->

<script type="text/x-handlebars" data-template-name="stats">
	<!-- Start of user code stats -->
	<div style="background-color: #333; overflow:auto; border-radius: 10px; margin-bottom: 1em;">
	<div class="svg">
		
	</div>
</div>
	<!-- End of user code -->
</script>

