<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.obeonetwork.org/dsl/entity/3.0.0" 
       class = "org.obeonetwork.dsl.entity.provider.EntityItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated entity -->
      <extender
            uri="http://www.obeonetwork.org/dsl/environment/3.0.0"
            class="org.obeonetwork.dsl.entity.provider.EntityItemProviderAdapterFactory$EnvironmentChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated entity -->
      <factory
            uri="http://www.obeonetwork.org/dsl/entity/2.0.0/utilities"
            class="org.obeonetwork.dsl.entity.extensionUtilities.provider.ExtensionUtilitiesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
  <extension
        point="org.eclipse.emf.edit.itemProviderAdapterFactories">
     <factory
           class="org.obeonetwork.dsl.entity.providers.EntityEEFAdapterFactory"
           supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"
           uri="http://www.obeonetwork.org/dsl/entity/3.0.0">
     </factory>
  </extension>
  <extension
        point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
     <PropertiesEditionPartProvider
           providerClass="org.obeonetwork.dsl.entity.providers.EntityPropertiesEditionPartProvider">
     </PropertiesEditionPartProvider>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="org.eclipse.sirius.diagram.ui">
        <propertyTab
              category="semantic &amp; extension"
              id="Root"
              label="Root">
        </propertyTab>
        <propertyTab
              category="semantic &amp; extension"
              id="Entity"
              label="Entity">
        </propertyTab>
        <propertyTab
              category="semantic &amp; extension"
              id="Finder"
              label="Finder">
        </propertyTab>
        <propertyTab
              category="semantic &amp; extension"
              id="InternalCriterion"
              label="InternalCriterion">
        </propertyTab>
        <propertyTab
              category="semantic &amp; extension"
              id="ExternalCriterion"
              label="ExternalCriterion">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="org.eclipse.sirius.diagram.ui">
        <propertySection
              class="org.obeonetwork.dsl.entity.parts.forms.RootPropertiesEditionPartForm"
              filter="org.obeonetwork.dsl.entity.filters.RootTabPropertiesEditionSection"
              id="org.obeonetwork.dsl.entity.eef.section.Root"
              tab="Root">
        </propertySection>
        <propertySection
              class="org.obeonetwork.dsl.entity.parts.forms.FinderPropertiesEditionPartForm"
              filter="org.obeonetwork.dsl.entity.filters.FinderTabPropertiesEditionSection"
              id="org.obeonetwork.dsl.entity.eef.section.Finder"
              tab="Finder">
        </propertySection>
        <propertySection
              class="org.obeonetwork.dsl.entity.parts.forms.EntityPropertiesEditionPartForm"
              filter="org.obeonetwork.dsl.entity.filters.EntityTabPropertiesEditionSection"
              id="org.obeonetwork.dsl.entity.eef.section.Entity"
              tab="Entity">
        </propertySection>
        <propertySection
              class="org.obeonetwork.dsl.entity.parts.forms.InternalCriterionPropertiesEditionPartForm"
              filter="org.obeonetwork.dsl.entity.filters.InternalCriterionTabPropertiesEditionSection"
              id="org.obeonetwork.dsl.entity.eef.section.InternalCriterion"
              tab="InternalCriterion">
        </propertySection>
        <propertySection
              class="org.obeonetwork.dsl.entity.parts.forms.ExternalCriterionPropertiesEditionPartForm"
              filter="org.obeonetwork.dsl.entity.filters.ExternalCriterionTabPropertiesEditionSection"
              id="org.obeonetwork.dsl.entity.eef.section.ExternalCriterion"
              tab="ExternalCriterion">
        </propertySection>
     </propertySections>
  </extension>
</plugin>

