<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2010 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation

 $Id$
-->
<plugin>

   <!--extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.obeonetwork.dsl.is.ui.categoryID"
            class="org.obeonetwork.is.ui.wizards.newproject.NewProjectWizard"
            hasPages="true"
            icon="icons/ISModelFile.png"
            id="org.obeonetwork.is.ui.wizards.newproject.NewProjectWizard"
            name="IS Project"
            preferredPerspectives="fr.obeo.dsl.viewpoint.ui.tools.perspective.design"
            project="true">
      </wizard>
      <category
            id="org.obeonetwork.dsl.is.ui.categoryID"
            name="Obeo Designer for IS">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="org.obeonetwork.is.ui.wizards.newproject.NewProjectWizard">
         <enablement></enablement>
      </commonWizard>
   </extension-->

</plugin>
