<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.obeonetwork.tools.projectlibrary.importHandler" name="Import Hanlder" schema="schema/org.obeonetwork.tools.projectlibrary.importHandler.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated manifest -->
      <package
            uri="http://www.obeonetwork.org/dsl/manifest/1.0.0"
            class="org.obeonetwork.dsl.manifest.ManifestPackage"
            genModel="model/manifest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated manifest -->
      <parser
            type="manifest"
            class="org.obeonetwork.dsl.manifest.util.ManifestResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.sirius.featureExtensions">
      <feature
            class="org.obeonetwork.tools.projectlibrary.extension.ManifestFeatureExtension"></feature>
   </extension>
   <extension
         point="org.obeonetwork.tools.projectlibrary.importHandler">
      <importHandler
            class="org.obeonetwork.tools.projectlibrary.extension.point.DefaultImportHandler">
      </importHandler>
   </extension>
</plugin>
