<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.sirius.category"
            class="org.obeonetwork.tools.snapshot.viewer.wizards.ImportModelFromXmlWizard"
            icon="icons/XMLFile.gif"
            id="org.obeonetwork.tools.snapshot.viewer.wizards.ImportModelFromXmlWizard"
            name="Import Model From XML">
         <description>
            Import a XML file exported from CDO from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
