<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2008, 2022 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
   <extension-point id="org.obeonetwork.tools.snapshot.viewer.postImport" name="postImport" schema="schema/postImport.exsd"/>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.sirius.category"
            class="org.obeonetwork.tools.snapshot.viewer.wizards.ImportModelFromXmlWizard"
            icon="icons/XMLFile.gif"
            id="org.obeonetwork.tools.snapshot.viewer.wizards.ImportModelFromXmlWizard"
            name="Import project From CDO XML snapshot">
         <description>
            Import a XML file exported from CDO from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
