<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2008, 2017 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.views">
     <category
            name="Information System Designer"
            id="org.obeonetwork.od4is">
      </category>
    </extension>
   <extension
         point="org.obeonetwork.dsl.environment.providedEnvironmentModel">
      <model
            name="Obeo Common"
            uri="platform:/plugin/org.obeonetwork.dsl.environment.common/model/obeo.environment">
      </model>
   </extension>
</plugin>
