<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<!-- C O M M U N I C A T I O N -->
	<bean name="/scenarioprincipal/ecranprincipal"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.EcranPrincipalAction">
		<!-- Start of user code for properties definition of Ecran Principal action-->
		 
		<!-- End of user code for properties definition of Ecran Principal action -->
	</bean>

	<bean name="/scenarioprincipal/ecransecondaire"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.EcranSecondaireAction">
		<!-- Start of user code for properties definition of Ecran Secondaire action-->
		 
		<!-- End of user code for properties definition of Ecran Secondaire action -->
	</bean>

	<bean name="/scenarioprincipal/labels"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.LabelsAction">
		<!-- Start of user code for properties definition of Labels action-->
		 
		<!-- End of user code for properties definition of Labels action -->
	</bean>

	<bean name="/scenarioprincipal/textfields"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.TextFieldsAction">
		<!-- Start of user code for properties definition of TextFields action-->
		 
		<!-- End of user code for properties definition of TextFields action -->
	</bean>

	<bean name="/scenarioprincipal/comboboxes"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.ComboBoxesAction">
		<!-- Start of user code for properties definition of Combo Boxes action-->
		 
		<!-- End of user code for properties definition of Combo Boxes action -->
	</bean>

	<bean name="/scenarioprincipal/passwords"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.PasswordsAction">
		<!-- Start of user code for properties definition of Passwords action-->
		 
		<!-- End of user code for properties definition of Passwords action -->
	</bean>

	<bean name="/scenarioprincipal/checkboxes"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.CheckBoxesAction">
		<!-- Start of user code for properties definition of Check Boxes action-->
		 
		<!-- End of user code for properties definition of Check Boxes action -->
	</bean>

	<bean name="/scenarioprincipal/radiobuttons"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.RadioButtonsAction">
		<!-- Start of user code for properties definition of Radio Buttons action-->
		 
		<!-- End of user code for properties definition of Radio Buttons action -->
	</bean>

	<bean name="/scenarioprincipal/slidebars"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.SlideBarsAction">
		<!-- Start of user code for properties definition of Slide Bars action-->
		 
		<!-- End of user code for properties definition of Slide Bars action -->
	</bean>

	<bean name="/scenarioprincipal/pushbuttons"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.PushButtonsAction">
		<!-- Start of user code for properties definition of Push Buttons action-->
		 
		<!-- End of user code for properties definition of Push Buttons action -->
	</bean>

	<bean name="/scenarioprincipal/togglebuttons"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.ToggleButtonsAction">
		<!-- Start of user code for properties definition of Toggle Buttons action-->
		 
		<!-- End of user code for properties definition of Toggle Buttons action -->
	</bean>

	<bean name="/scenarioprincipal/simplebuttons"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.SimpleButtonsAction">
		<!-- Start of user code for properties definition of Simple Buttons action-->
		 
		<!-- End of user code for properties definition of Simple Buttons action -->
	</bean>

	<bean name="/scenarioprincipal/displaylists"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.DisplayListsAction">
		<!-- Start of user code for properties definition of Display Lists action-->
		 
		<!-- End of user code for properties definition of Display Lists action -->
	</bean>

	<bean name="/scenarioprincipal/canvas"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.CanvasAction">
		<!-- Start of user code for properties definition of Canvas action-->
		 
		<!-- End of user code for properties definition of Canvas action -->
	</bean>

	<bean name="/scenarioprincipal/links"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.LinksAction">
		<!-- Start of user code for properties definition of Links action-->
		 
		<!-- End of user code for properties definition of Links action -->
	</bean>

	<bean name="/scenarioprincipal/progressbars"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.ProgressBarsAction">
		<!-- Start of user code for properties definition of Progress Bars action-->
		 
		<!-- End of user code for properties definition of Progress Bars action -->
	</bean>

	<bean name="/scenarioprincipal/textareas"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.TextAreasAction">
		<!-- Start of user code for properties definition of Text Areas action-->
		 
		<!-- End of user code for properties definition of Text Areas action -->
	</bean>

	<bean name="/scenarioprincipal/actions"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.ActionsAction">
		<!-- Start of user code for properties definition of Actions action-->
		 
		<!-- End of user code for properties definition of Actions action -->
	</bean>

	<bean name="/scenarioprincipal/allinone"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.AllInOneAction">
		<!-- Start of user code for properties definition of All In One action-->
		 
		<!-- End of user code for properties definition of All In One action -->
	</bean>

	<bean name="/scenarioprincipal/circuitstart"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.CircuitStartAction">
		<!-- Start of user code for properties definition of Circuit Start action-->
		 
		<!-- End of user code for properties definition of Circuit Start action -->
	</bean>

	<bean name="/scenarioprincipal/circuitreturn"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.CircuitReturnAction">
		<!-- Start of user code for properties definition of Circuit Return action-->
		 
		<!-- End of user code for properties definition of Circuit Return action -->
	</bean>

	<bean name="/scenarioprincipal/loop"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.LoopAction">
		<!-- Start of user code for properties definition of Loop action-->
		 
		<!-- End of user code for properties definition of Loop action -->
	</bean>

	<bean name="/scenarioprincipal/many1"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.Many1Action">
		<!-- Start of user code for properties definition of Many 1 action-->
		 
		<!-- End of user code for properties definition of Many 1 action -->
	</bean>

	<bean name="/scenarioprincipal/many2"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.Many2Action">
		<!-- Start of user code for properties definition of Many 2 action-->
		 
		<!-- End of user code for properties definition of Many 2 action -->
	</bean>

	<bean name="/scenarioprincipal/manytoone"
		class="org.obeonetwork.sample.ui.scenarioprincipal.actions.ManyToOneAction">
		<!-- Start of user code for properties definition of Many To One action-->
		 
		<!-- End of user code for properties definition of Many To One action -->
	</bean>

</beans>