<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- mapping files -->
        
        <mapping resource="org/obeonetwork/sample/kindofdao/ExempleDirect.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/customize/Person.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/customize/Address.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/operation/Operations.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/operation/Finders.hbm.xml"/>

		<!-- Start of user code of listeners -->
		<!-- End of user code -->

    </session-factory>

	<!-- Start of user code of security parameters -->
	<!-- End of user code -->

</hibernate-configuration>
