<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2008, 2023 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.obeonetwork.dsl.cinematic.design.Activator"
               id="org.obeonetwork.dsl.cinematic.design"
	       name="cinematic">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.obeonetwork.dsl.is.ui.categoryID"
           class="org.obeonetwork.dsl.cinematic.design.wizards.NewCinematicModelWizard"
           icon="icons/full/obj16/CinematicModelFile.gif"
           id="org.obeonetwork.dsl.cinematic.design.wizards.NewCinematicModelWizard"
           name="Cinematic Model">
        <description>
           New cinematic model wizard
        </description>
     </wizard>
     <wizard
           category="org.obeonetwork.dsl.is.ui.categoryID"
           class="org.obeonetwork.dsl.cinematic.design.wizards.NewToolkitsModelWizard"
           icon="icons/full/obj16/ToolkitsModelFile.gif"
           id="org.obeonetwork.dsl.cinematic.design.wizards.NewToolkitsModelWizard"
           name="Toolkits Model">
        <description>
           New toolkits model wizard
        </description>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.obeonetwork.is.designer.menu?after=additions">
<!--        <command
              commandId="org.obeonetwork.dsl.cinematic.design.command.ExtractLayout"
              icon="icons/tools/layout.png"
              label="Extract Layout"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command> -->
        <command
              commandId="org.obeonetwork.dsl.cinematic.design.command.RestoreLayout"
              icon="icons/tools/layout.png"
              label="Restore Layout"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
        <command
              commandId="org.obeonetwork.dsl.cinematic.design.command.PreviewLayout"
              icon="icons/tools/layout.png"
              label="Preview Layout"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
        <command
              commandId="org.obeonetwork.dsl.cinematic.design.command.ApplyMockupImage"
              icon="icons/tools/layout_top_right_corner_apply.png"
              label="Apply Mockup Image"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
        <command
              commandId="org.obeonetwork.dsl.cinematic.design.command.RemoveMockupImage"
              icon="icons/tools/layout_top_right_corner_remove.png"
              label="Remove Mockup Image"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="popup:menu.viewpoint.new.representation?after=additions">
        <command
              commandId="org.obeonetwork.dsl.cinematic.design.command.CreateUnsynchronizedFlowDiagram"
              label="Flow Partial View"
              style="push">
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
<!--     <command
           id="org.obeonetwork.dsl.cinematic.design.command.ExtractLayout"
           name="Extract Layout">
     </command> -->
     <command
           id="org.obeonetwork.dsl.cinematic.design.command.RestoreLayout"
           name="Restore Layout">
     </command>
     <command
           id="org.obeonetwork.dsl.cinematic.design.command.PreviewLayout"
           name="Preview Layout">
     </command>
     <command
           id="org.obeonetwork.dsl.cinematic.design.command.ApplyMockupImage"
           name="Apply Mockup Image">
     </command>
     <command
           id="org.obeonetwork.dsl.cinematic.design.command.RemoveMockupImage"
           name="Remove Mockup Image">
     </command>
     <command
           id="org.obeonetwork.dsl.cinematic.design.command.CreateUnsynchronizedFlowDiagram"
           name="New Unsynchronized Flow Diagram">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
<!--     <handler
           class="org.obeonetwork.dsl.cinematic.design.handlers.ExtractLayoutHandler"
           commandId="org.obeonetwork.dsl.cinematic.design.command.ExtractLayout">
        <enabledWhen>
           <with
                 variable="selection">
              <count
                    value="1">
              </count>
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart.diagramName"
                          value="View Container Mockup">
                    </test>
                 </adapt>
              </iterate>
           </with>
        </enabledWhen>
     </handler> -->
     <handler
           class="org.obeonetwork.dsl.cinematic.design.handlers.RestoreLayoutHandler"
           commandId="org.obeonetwork.dsl.cinematic.design.command.RestoreLayout">
        <enabledWhen>
           <with
                 variable="selection">
              <count
                    value="1">
              </count>
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart.diagramName"
                          value="View Container Mockup">
                    </test>
                 </adapt>
              </iterate>
           </with>
        </enabledWhen>
     </handler>
     <handler
           class="org.obeonetwork.dsl.cinematic.design.handlers.PreviewLayoutHandler"
           commandId="org.obeonetwork.dsl.cinematic.design.command.PreviewLayout">
        <enabledWhen>
           <with
                 variable="selection">
              <count
                    value="1">
              </count>
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart.diagramName"
                          value="Layout Diagram">
                    </test>
                 </adapt>
              </iterate>
           </with>
        </enabledWhen>
     </handler>
     <handler
           class="org.obeonetwork.dsl.cinematic.design.handlers.ApplyMockupImageHandler"
           commandId="org.obeonetwork.dsl.cinematic.design.command.ApplyMockupImage">
        <enabledWhen>
           <with
                 variable="selection">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart">
                    <and>
                       <test
                             forcePluginActivation="true"
                             property="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart.diagramName"
                             value="Flow Diagram">
                       </test>
                       <test
                             forcePluginActivation="true"
                             property="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart.mappingName"
                             value="FLD_ViewState">
                       </test>
                    </and>
                 </adapt>
              </iterate>
           </with>
        </enabledWhen>
     </handler>
     <handler
           class="org.obeonetwork.dsl.cinematic.design.handlers.RemoveMockupImageHandler"
           commandId="org.obeonetwork.dsl.cinematic.design.command.RemoveMockupImage">
        <enabledWhen>
           <with
                 variable="selection">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart">
                    <and>
                       <test
                             forcePluginActivation="true"
                             property="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart.diagramName"
                             value="Flow Diagram">
                       </test>
                       <test
                             forcePluginActivation="true"
                             property="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart.mappingName"
                             value="FLD_ViewState">
                       </test>
                    </and>
                 </adapt>
              </iterate>
           </with>
        </enabledWhen>
     </handler>
     <handler
           class="org.obeonetwork.dsl.cinematic.design.handlers.CreateUnsynchronizedFlowDiagramHandler"
           commandId="org.obeonetwork.dsl.cinematic.design.command.CreateUnsynchronizedFlowDiagram">
     </handler>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="org.obeonetwork.dsl.cinematic.design.services.flows.TransitionEditPartProvider">
        <Priority
              name="High">
        </Priority>
     </editpartProvider>
  </extension>
  <extension
        point="org.obeonetwork.dsl.environment.properties.metadataHelpProvider">
     <metadatadescription
           class="org.obeonetwork.dsl.cinematic.design.extension.AbstractViewElementMetadataProvider">
     </metadatadescription>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.obeonetwork.dsl.cinematic.design.command.ApplyMockupImage"
           contextId="org.eclipse.sirius.diagram.ui.diagramContext"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="SHIFT+F5">
     </key>
     <key
           commandId="org.obeonetwork.dsl.cinematic.design.command.PreviewLayout"
           contextId="org.eclipse.sirius.diagram.ui.diagramContext"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="CTRL+P">
     </key>
  </extension>
</plugin>
