<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">
	
	<!--Start of user code for start of document -->	 

	<!-- End of user code -->
	
	<!-- Hibernate Transaction Manager -->
	<bean id="transactionManager"
 		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<tx:advice id="txAdviceDAO" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor pointcut="execution(* **.*Dao.*(..))" advice-ref="txAdviceDAO" />
	</aop:config>
	
	<!-- Hibernate SessionFactory -->
	<import resource="classpath:/conf/spring/orm/hibernateMappingsContext.xml"/>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources" ref="hibernateMappingResources"/>
		<!-- Start of user code for hibernate properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
 				<prop key="hibernate.hbm2ddl.auto">create</prop> 
 				<prop key="hibernate.jdbc.batch_size">1</prop>
			</props>
		</property>
		<!-- End of user code -->
	</bean> 
	<!-- onetomanycomp -->
	<bean id="OnetomanycompDAO" 
		class="org.obeonetwork.sample.collections.composition.onetomanycomp.HibernateOnetomanycompDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for one_to_many_comp specific configuration -->
		<!-- End of user code -->
	<!-- end onetomanycomp -->
	<!-- onetoonecomp -->
	<bean id="OnetoonecompDAO" 
		class="org.obeonetwork.sample.collections.composition.onetoonecomp.HibernateOnetoonecompDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for one_to_one_comp specific configuration -->
		<!-- End of user code -->
	<!-- end onetoonecomp -->
	<!-- assounidionetomany -->
	<bean id="AssounidionetomanyDAO" 
		class="org.obeonetwork.sample.collections.associations.unidirectional.assounidionetomany.HibernateAssounidionetomanyDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for asso_unidi_one_to_many specific configuration -->
		<!-- End of user code -->
	<!-- end assounidionetomany -->
	<!-- assounidionetoone -->
	<bean id="AssounidionetooneDAO" 
		class="org.obeonetwork.sample.collections.associations.unidirectional.assounidionetoone.HibernateAssounidionetooneDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for asso_unidi_one_to_one specific configuration -->
		<!-- End of user code -->
	<!-- end assounidionetoone -->
	<!-- assounidimanytoone -->
	<bean id="AssounidimanytooneDAO" 
		class="org.obeonetwork.sample.collections.associations.unidirectional.assounidimanytoone.HibernateAssounidimanytooneDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for asso_unidi_many_to_one specific configuration -->
		<!-- End of user code -->
	<!-- end assounidimanytoone -->
	<!-- assounidimanytomany -->
	<bean id="AssounidimanytomanyDAO" 
		class="org.obeonetwork.sample.collections.associations.unidirectional.assounidimanytomany.HibernateAssounidimanytomanyDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for asso_unidi_many_to_many specific configuration -->
		<!-- End of user code -->
	<!-- end assounidimanytomany -->
	<!-- assobidionetomany -->
	<bean id="AssobidionetomanyDAO" 
		class="org.obeonetwork.sample.collections.associations.bidirectional.assobidionetomany.HibernateAssobidionetomanyDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for asso_bidi_one_to_many specific configuration -->
		<!-- End of user code -->
	<!-- end assobidionetomany -->
	<!-- assobidimanytomany -->
	<bean id="AssobidimanytomanyDAO" 
		class="org.obeonetwork.sample.collections.associations.bidirectional.assobidimanytomany.HibernateAssobidimanytomanyDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for asso_bidi_many_to_many specific configuration -->
		<!-- End of user code -->
	<!-- end assobidimanytomany -->
	<!-- assobidionetoone -->
	<bean id="AssobidionetooneDAO" 
		class="org.obeonetwork.sample.collections.associations.bidirectional.assobidionetoone.HibernateAssobidionetooneDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for asso_bidi_one_to_one specific configuration -->
		<!-- End of user code -->
	<!-- end assobidionetoone -->
	<!-- assobidimanytoone -->
	<bean id="AssobidimanytooneDAO" 
		class="org.obeonetwork.sample.collections.associations.bidirectional.assobidimanytoone.HibernateAssobidimanytooneDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for asso_bidi_many_to_one specific configuration -->
		<!-- End of user code -->
	<!-- end assobidimanytoone -->
	<!-- tableperhierarchy -->
	<bean id="TableperhierarchyDAO" 
		class="org.obeonetwork.sample.inheritence.tableperhierarchy.HibernateTableperhierarchyDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for table_per_hierarchy specific configuration -->
		<!-- End of user code -->
	<!-- end tableperhierarchy -->
	<!-- tablepersubclass -->
	<bean id="TablepersubclassDAO" 
		class="org.obeonetwork.sample.inheritence.tablepersubclass.HibernateTablepersubclassDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for table_per_subclass specific configuration -->
		<!-- End of user code -->
	<!-- end tablepersubclass -->
	<!-- attributes -->
	<bean id="AttributesDAO" 
		class="org.obeonetwork.sample.attributes.HibernateAttributesDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for attributes specific configuration -->
		<!-- End of user code -->
	<!-- end attributes -->
</beans>
