<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="IChildDescriptionProvider" name="org.obeonetwork.dsl.environment.edit.IChildDescriptionProvider" schema="schema/IChildDescriptionProvider.exsd"/>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.obeonetwork.org/dsl/environment/2.0.0" 
       class = "org.obeonetwork.dsl.environment.provider.EnvironmentItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

	<!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/environment/2.0.0"
            class="org.obeonetwork.dsl.environment.providers.EnvironmentEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.environment.providers.EnvironmentPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertyTab
               category="semantic"
               id="Metadatas"
               label="Metadatas">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Environment"
               label="Environment">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="PrimitiveType"
               label="PrimitiveType">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Enumeration"
               label="Enumeration">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Field"
               label="Field">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="InterDSMLink"
               label="InterDSMLink">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Annotation"
               label="Annotation">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="PriorityDefinition"
               label="PriorityDefinition">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Priority"
               label="Priority">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="TypesDefinition"
               label="TypesDefinition">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="FilterContainer"
               label="FilterContainer">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Attribute"
               label="Attribute">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Reference"
               label="Reference">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="BindingInfo"
               label="BindingInfo">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="BindingReference"
               label="BindingReference">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="BindingElement"
               label="BindingElement">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.MetadatasPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.MetadataTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Metadatas"
               tab="Metadatas">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.EnvironmentPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.EnvironmentTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Environment"
               tab="Environment">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.PrimitiveTypePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.PrimitiveTypeTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.PrimitiveType"
               tab="PrimitiveType">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.EnumerationPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.EnumerationTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Enumeration"
               tab="Enumeration">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.FieldPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.FieldTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Field"
               tab="Field">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.InterDSMLinkPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.InterDSMLinkTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.InterDSMLink"
               tab="InterDSMLink">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.AnnotationPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.AnnotationTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Annotation"
               tab="Annotation">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.PriorityDefinitionPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.PriorityDefinitionTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.PriorityDefinition"
               tab="PriorityDefinition">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.PriorityPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.PriorityTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Priority"
               tab="Priority">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.FilterContainerPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.FilterContainerTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.FilterContainer"
               tab="FilterContainer">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.AttributePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.AttributeTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Attribute"
               tab="Attribute">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.ReferencePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.ReferenceTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.Reference"
               tab="Reference">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.BindingInfoPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.BindingInfoTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.BindingInfo"
               tab="BindingInfo">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.environment.parts.forms.BindingReferencePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.environment.filters.BindingReferenceTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.environment.eef.section.BindingReference"
               tab="BindingReference">
         </propertySection>
      </propertySections>
   </extension>
</plugin>

