<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point 
   		id="org.obeonetwork.dsl.viewpoint.eef.adapters.sectionFilters" 
   		name="sectionfilters" 
   		schema="schema/org.obeonetwork.dsl.viewpoint.eef.adapters.sectionFilters.exsd"/>
   <extension
         point="fr.obeo.dsl.viewpoint.externalJavaAction">
      <javaActions
            actionClass="org.obeonetwork.dsl.viewpoint.eef.actions.OpenPropertiesWizardAction"
            id="org.obeonetwork.dsl.viewpoint.eef.actions.openPropertiesWizard">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/textile/viewpoint-eef-toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.gef.GraphicalEditPart"
            class="org.obeonetwork.dsl.viewpoint.eef.adapters.ObeoDesignerSemanticAdapter">
         <adapter
               type="org.eclipse.emf.eef.runtime.api.adapters.SemanticAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.gef.ConnectionEditPart"
            class="org.obeonetwork.dsl.viewpoint.eef.adapters.ObeoDesignerSemanticAdapter">
         <adapter
               type="org.eclipse.emf.eef.runtime.api.adapters.SemanticAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="fr.obeo.dsl.viewpoint.DSemanticDecorator"
            class="org.obeonetwork.dsl.viewpoint.eef.adapters.ObeoDesignerSemanticAdapter">
         <adapter
               type="org.eclipse.emf.eef.runtime.api.adapters.SemanticAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
