<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">
	
	<!--Start of user code for start of document -->	 

	<!-- End of user code -->
	
	<!-- Hibernate Transaction Manager -->
	<bean id="transactionManager"
 		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<tx:advice id="txAdviceDAO" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor pointcut="execution(* **.*Dao.*(..))" advice-ref="txAdviceDAO" />
	</aop:config>
	
	<!-- Hibernate SessionFactory -->
	<import resource="classpath:/conf/spring/orm/hibernateMappingsContext.xml"/>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources" ref="hibernateMappingResources"/>
		<!-- Start of user code for hibernate properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
 				<prop key="hibernate.hbm2ddl.auto">create</prop> 
 				<prop key="hibernate.jdbc.batch_size">1</prop>
			</props>
		</property>
		<!-- End of user code -->
	</bean> 
	<!-- kindOfDao -->
	<bean id="KindOfDaoDAO" 
		class="org.obeonetwork.sample.kindofdao.HibernateKindOfDaoDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for kind of dao specific configuration -->
		<!-- End of user code -->
	<!-- end kindOfDao -->
	<!-- customize -->
	<bean id="CustomizeDAO" 
		class="org.obeonetwork.sample.customize.HibernateCustomizeDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for customize specific configuration -->
		<!-- End of user code -->
	<!-- end customize -->
	<!-- operation -->
	<bean id="OperationDAO" 
		class="org.obeonetwork.sample.operation.HibernateOperationDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Start of user code for operation specific configuration -->
		<!-- End of user code -->
	<!-- end operation -->
</beans>
