<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2008, 2024 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    Contributors:
        Obeo - initial API and implementation
 -->
 
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.obeonetwork.is.designer.ui.wizards.category"
            class="org.obeonetwork.tools.projectlibrary.ui.wizard.exp.ExportProjectAsLibraryWizard"
            icon="icons/export_mar.png"
            id="org.obeonetwork.tools.projectlibrary.ui.wizard.export"
            name="Export modeling project as library">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.obeonetwork.is.designer.ui.wizards.category"
            class="org.obeonetwork.tools.projectlibrary.ui.wizard.imp.ImportLibraryIntoProjectWizard"
            icon="icons/import_mar.png"
            id="org.obeonetwork.tools.projectlibrary.ui.wizard.import"
            name="Import library into modeling project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.obeonetwork.tools.projectlibrary.ui.commands.removeProjectLibrary"
            name="Remove project library">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.obeonetwork.tools.projectlibrary.ui.handlers.RemoveLibraryHandler"
            commandId="org.obeonetwork.tools.projectlibrary.ui.commands.removeProjectLibrary">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.obeonetwork.is.designer.menu?after=additions">
         <command
               commandId="org.obeonetwork.tools.projectlibrary.ui.commands.removeProjectLibrary"
               icon="icons/remove_library.png"
               id="org.obeonetwork.tools.projectlibrary.ui.menus.removeProjectLibrary"
               label="Remove project library...">
            <visibleWhen
                  checkEnabled="false">

               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.sirius.nature.modelingproject">
                           </test>
                        </adapt></iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
