<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="IS Designer Product Target Definition" sequenceNumber="1774019025">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.eef.runtime" version="0.0.0"/>
      <unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.eef.runtime-feature.feature.group" version="0.0.0"/>
      <repository id="EEF-1.5.2" location="https://download.eclipse.org/modeling/emft/eef/updates/milestones/1.5/S201707060903/1.5.2.201707060903/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.aql.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.aql.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.antlr.antlr4-runtime" version="0.0.0"/>
      <repository id="Acceleo_4.2.1_AQL_8.1.1" location="https://download.eclipse.org/acceleo/updates/releases/4.2/R202602100910/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.runtime.feature.group" version="0.0.0"/>
      <repository id="Acceleo-3.7" location="https://download.eclipse.org/acceleo/updates/releases/3.7/R202408201303/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
      <repository id="Sirius-7.5.0" location="https://download.eclipse.org/sirius/updates/releases/7.5.0/2025-09/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.commons.feature.feature.group" version="4.8.0.v20250813-0645"/>
      <unit id="org.eclipse.mylyn.context.feature.feature.group" version="4.8.0.v20250816-0943"/>
      <unit id="org.eclipse.mylyn.ide.feature.feature.group" version="4.8.0.v20250816-0845"/>
      <unit id="org.eclipse.mylyn.monitor.feature.feature.group" version="4.8.0.v20250814-1811"/>
      <unit id="org.eclipse.mylyn.tasks.feature.feature.group" version="4.8.0.v20250821-0416"/>
      <unit id="org.eclipse.mylyn.team.feature.feature.group" version="4.8.0.v20250815-0736"/>
      <unit id="org.apache.xerces" version="2.12.2.v20230928-1306"/>
      <unit id="org.apache.xml.resolver" version="1.2.0.v20230928-1222"/>
      <repository id="Mylyn-4.8" location="https://download.eclipse.org/mylyn/updates/release/4.8.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.discovery.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.activity.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.core.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.sirius.feature.group" version="0.0.0"/>
      <repository id="Amalgam" location="https://download.eclipse.org/modeling/amalgam/updates/releases/1.14.0/capella/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.easymock" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <unit id="slf4j.api" version="0.0.0"/>
      <unit id="slf4j.simple" version="0.0.0"/>
      <unit id="ch.qos.logback.classic" version="0.0.0"/>
      <unit id="ch.qos.logback.core" version="0.0.0"/>
      <repository id="Orbit-2025-09" location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2025-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mockito" version="0.0.0"/>
      <repository id="Orbit-2021-06" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210602031627/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="0.0.0"/>
      <repository id="Eclipse-2025-06" location="https://download.eclipse.org/releases/2025-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.antlr.runtime" version="0.0.0"/>
      <repository id="ANTLR" location="https://obeo-networkaggregation-releases.s3.eu-west-1.amazonaws.com/bits/master/thirdparties/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.inject" version="0.0.0"/>
      <unit id="com.ibm.icu" version="0.0.0"/>
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.diagram.sirius.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.diagram.sirius.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.rcp" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.rcp.ui" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.http.jetty" version="0.0.0"/>
      <unit id="org.eclipse.equinox.http.registry" version="0.0.0"/>
      <unit id="org.eclipse.equinox.http.servlet" version="0.0.0"/>
      <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.thirdparty.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jetty.http" version="0.0.0"/>
      <unit id="org.eclipse.jetty.io" version="0.0.0"/>
      <unit id="org.eclipse.jetty.security" version="0.0.0"/>
      <unit id="org.eclipse.jetty.server" version="0.0.0"/>
      <unit id="org.eclipse.jetty.util" version="0.0.0"/>
      <unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swt" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.objectweb.asm" version="0.0.0"/>
      <unit id="org.objectweb.asm.tree" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram.elk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram.elk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram.elk.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram.elk.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.interpreter.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.interpreter.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.model.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.samples.feature.group" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="fr.obeo.dsl.designer.ce.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.properties.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.properties.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.tests.support.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.tests.support.source.feature.group" version="0.0.0"/>
      <repository id="Obeo-Designer-Community-12.0" location="https://update.obeo.fr/stable/designer/12.0_rc6/community/12.0.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.sample.ecore.design.source" version="0.0.0"/>
      <unit id="org.eclipse.sirius.sample.interactions.design.source" version="0.0.0"/>
      <unit id="org.eclipse.sirius.sample.interactions.edit.source" version="0.0.0"/>
      <unit id="org.eclipse.sirius.sample.interactions.editor.source" version="0.0.0"/>
      <unit id="org.eclipse.sirius.sample.interactions.source" version="0.0.0"/>
      <unit id="org.eclipse.sirius.tests.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.tests.swtbot.source" version="0.0.0"/>
      <repository id="Sirius-Tests-7.5.0" location="https://download.eclipse.org/sirius/updates/releases/7.5.0/2025-09/tests/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="jakarta.servlet-api" version="0.0.0"/>
      <unit id="org.eclipse.jdt.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.source" version="0.0.0"/>
      <unit id="com.sun.xml.bind" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.design.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <repository id="Eclipse-2025-09" location="https://download.eclipse.org/releases/2025-09/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="fr.obeo.dsl.viewpoint.collab" version="0.0.0"/>
      <unit id="fr.obeo.dsl.viewpoint.collab.user.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.sdk.feature.group" version="0.0.0"/>
      <repository id="Obeo-Designer-Team-12.0" location="https://update.obeo.fr/stable/designer/12.0_rc6/team/12.0.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="liquibase.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.treemapper.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.cinematic.gen.html.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.cinematic.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.database.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.database.scaffold.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.database.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.cinematic.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.database.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.database.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.database.reverse.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.database.synchronizer.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.entity.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.entity.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.binding.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.binding.dialect.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.design.migration.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.design.services.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.cinematic.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.entity.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.environment.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.interaction.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.is.design.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.is.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.overview.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.requirement.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.soa.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.statemachine.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.technicalid.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.graal.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.interaction.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.requirement.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.requirement.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.soa.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.soa.gen.swagger.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.soa.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.statemachine.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.typelibrary.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.feature.is.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.graal.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.graal.extensions.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.graal.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.is.license.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.is.samples.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.project.lifecycle.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.contextual.explorer.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.linker.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.migration.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.projectlibrary.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.utils.feature.feature.group" version="0.0.0"/>
      <repository id="ISD" location="https://update.obeo.fr/integration/informationsystem/6.0.0/design/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.obeonetwork.m2doc.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.apache.poi.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.sirius.feature.feature.group" version="0.0.0"/>
      <repository id="M2Doc-5.0" location="https://s3-eu-west-1.amazonaws.com/obeo-m2doc-releases/5.0.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.team.svn.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.team.svn.nl1.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.team.svn.pde.build.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.team.svn.ui.capabilities" version="0.0.0"/>
      <unit id="org.eclipse.team.svn.feature.feature.group" version="0.0.0"/>
      <repository id="Subversive-Plugin" location="https://download.eclipse.org/technology/subversive/updates/release/5.1.0/"/>
    </location>
  </locations>
</target>
