<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="IS Designer Target Definition" sequenceNumber="1515679869">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.obeonetwork.dsl.feature.environment.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.entity.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.cinematic.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.soa.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.graal.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.requirement.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.is.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.overview.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.interaction.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.statemachine.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.database.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.typelibrary.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.database.synchronizer.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.database.reverse.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.migration.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.treemapper.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.cinematic.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.database.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.entity.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.interaction.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.statemachine.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.design.services.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.is.design.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.requirement.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.soa.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.graal.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.linker.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.design.migration.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.binding.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.binding.dialect.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.feature.technicalid.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.environment.design.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.snapshot.viewer.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.database.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.requirement.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.dsl.graal.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="fr.gouv.mindef.safran.database.scaffold.feature.feature.group" version="0.0.0"/>
      <unit id="fr.gouv.mindef.safran.database.ui.feature.feature.group" version="0.0.0"/>
      <unit id="fr.gouv.mindef.safran.graal.extensions.feature.feature.group" version="0.0.0"/>
      <unit id="fr.gouv.mindef.safran.feature.is.feature.group" version="0.0.0"/>
      <unit id="fr.gouv.mindef.safran.cinematic.gen.html.feature.feature.group" version="0.0.0"/>
      <unit id="fr.gouv.mindef.safran.project.lifecycle.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.is.samples.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.tools.projectlibrary.feature.feature.group" version="0.0.0"/>
      <repository location="http://update.obeo.fr/integration/informationsystem/10.0/design/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.editor.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.rcp" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.rcp.ui" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="fr.obeo.dsl.designer.gen.html.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
      <unit id="org.apache.commons.lang" version="0.0.0"/>
      <unit id="org.eclipse.equinox.concurrent" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ocl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.doc.feature.feature.group" version="0.0.0"/>
      <unit id="fr.obeo.dsl.designer.ce.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.common.acceleo.aql.ide" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="fr.obeo.dsl.viewpoint.runtime.collab.feature.group" version="0.0.0"/>
      <repository location="http://update.obeo.fr/integration/designer/10.1/team/latest/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.eef.runtime-feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.eef.edt-feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.eef.extended-feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.eef.codegen.ecore-feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/emft/eef/updates/milestones/1.5/S201707060903"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.apache.commons.io" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.server.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.oomph.setup.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/oxygen/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.poi.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.obeonetwork.m2doc.sirius.feature.feature.group" version="0.0.0"/>
      <repository location="https://s3-eu-west-1.amazonaws.com/obeo-m2doc-releases/1.0.0/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.team.svn.resource.ignore.rules.jdt.feature.group" version="3.0.0.I20150529-1700"/>
      <unit id="org.eclipse.team.svn.feature.group" version="3.0.5.I20160701-1700"/>
      <repository location="http://download.eclipse.org/technology/subversive/3.0/update-site/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.polarion.eclipse.team.svn.connector.feature.group" version="5.0.3.I20160701-1700"/>
      <unit id="org.polarion.eclipse.team.svn.connector.svnkit18.feature.group" version="5.0.3.I20160701-1700"/>
      <repository location="http://community.polarion.com/projects/subversive/download/eclipse/5.0/update-site/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
    </location>
  </locations>
</target>
