<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016, 2017 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
   <extension
         point="org.obeonetwork.m2doc.ide.services.register">
      <token
            name="Default">
         <service
               class="org.obeonetwork.database.m2doc.services.ColumnServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.DataBaseServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.ForeignKeyElementServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.IndexElementServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.IndexServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.SequenceServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.TableContainerServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.TableServices">
         </service>
         <package
               uri="http://www.obeonetwork.org/dsl/database/1.0">
         </package>
      </token>
      <token
            name="Database">
         <service
               class="org.obeonetwork.database.m2doc.services.ColumnServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.DataBaseServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.ForeignKeyElementServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.IndexElementServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.IndexServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.SequenceServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.TableContainerServices">
         </service>
         <service
               class="org.obeonetwork.database.m2doc.services.TableServices">
         </service>
         <package
               uri="http://www.obeonetwork.org/dsl/database/1.0">
         </package>
         <package
               uri="http://www.obeonetwork.org/dsl/environment/3.0.0">
         </package>
         <package
               uri="http://www.obeonetwork.org/dsl/typeslibrary/1.0">
         </package>
      </token>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
