<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2008, 2022 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.gouv.mindef.safran.is.design.Activator"
               id="fr.gouv.mindef.safran.is.design"
	       name="safran-is">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="fr.gouv.mindef.safran.is.design.command.setTargetSchema"
           name="Set Swap Target Schema">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.obeonetwork.is.designer.menu?after=additions">
        <command
              commandId="fr.gouv.mindef.safran.is.design.command.setTargetSchema"
              label="Set / Swap Target Schema"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="fr.gouv.mindef.safran.is.handlers.SetTargetSchemaHandler"
           commandId="fr.gouv.mindef.safran.is.design.command.setTargetSchema">
        <enabledWhen>
           <with
                 variable="selection">
              <count
                    value="1">
              </count>
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.sirius.viewpoint.DRepresentationElement">
                    <and>
                       <test
                             args="selection"
                             forcePluginActivation="true"
                             property="org.eclipse.sirius.viewpoint.dRepresentationElement.definitionName"
                             value="EV_Entities_PhysicalNames">
                       </test>
                       <adapt
                             type="org.eclipse.sirius.table.metamodel.table.DTableElement">
                          <and>
                             <test
                                   args="selection"
                                   forcePluginActivation="true"
                                   property="org.eclipse.sirius.viewpoint.dSemanticDecorator.targetType"
                                   value="org.obeonetwork.dsl.environment.impl.ReferenceImpl">
                             </test>
                             <test
                                   args="selection"
                                   forcePluginActivation="true"
                                   property="fr.gouv.mindef.safran.is.propertyTesters.referencePropertyTester.isMultiple"
                                   value="true">
                             </test>
                          </and>
                       </adapt></and>
                 </adapt>
              </iterate>
           </with></enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="fr.gouv.mindef.safran.is.propertyTesters.ReferencePropertyTester"
           id="fr.gouv.mindef.safran.is.propertyTesters.ReferencePropertyTester"
           namespace="fr.gouv.mindef.safran.is.propertyTesters.referencePropertyTester"
           properties="isMultiple"
           pype="fr.gouv.mindef.safran.is.design.PropertyTester6"
           type="org.eclipse.sirius.viewpoint.DSemanticDecorator">
     </propertyTester>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="fr.gouv.mindef.safran.is.design.command.setTargetSchema"
           contextId="org.eclipse.sirius.table.ui.EditorID.tableContext"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="CTRL+T">
     </key>
  </extension>
</plugin>
