<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.gouv.mindef.safran.is.design.Activator"
               id="fr.gouv.mindef.safran.is.design"
	       name="safran-is">
    </component>
  </extension>
</plugin>
