<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.obeonetwork.dsl.entityrelation.presentation.EntityrelationModelWizardID"
            name="%_UI_EntityrelationModelWizard_label"
            class="org.obeonetwork.dsl.entityrelation.presentation.EntityRelationModelWizard"
            category="org.obeonetwork.dsl.is.ui.categoryID"
            icon="icons/full/obj16/EntityrelationModelFile.gif">
         <description>%_UI_EntityrelationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.entityrelation.presentation.EntityRelationEditorID"
            name="%_UI_EntityrelationEditor_label"
            icon="icons/full/obj16/EntityrelationModelFile.gif"
            extensions="entityrelation"
            class="org.obeonetwork.dsl.entityrelation.presentation.EntityRelationEditor"
            contributorClass="org.obeonetwork.dsl.entityrelation.presentation.EntityRelationActionBarContributor">
      </editor>
   </extension>

</plugin>
