<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2011, 2017 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/interaction/1.0.0"
            class="org.obeonetwork.dsl.interaction.provider.InteractionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

  <!-- EEF extensions -->
  <!--
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/interaction/1.0.0"
            class="org.obeonetwork.dsl.interaction.providers.InteractionEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.interaction.providers.InteractionPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               category="semantic &amp; extension"
               id="Interaction"
               label="Interaction">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Participant"
               label="Participant">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Execution"
               label="Execution">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="CreateParticipantMessage"
               label="CreateParticipantMessage">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="DestroyParticipantMessage"
               label="DestroyParticipantMessage">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="ReturnMessage"
               label="ReturnMessage">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="StateInvariant"
               label="StateInvariant">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="InteractionUse"
               label="InteractionUse">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="CombinedFragment"
               label="CombinedFragment">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Operand"
               label="Operand">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="CallMessage"
               label="CallMessage">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.InteractionPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.InteractionTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.Interaction"
               tab="Interaction">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.ParticipantPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.ParticipantTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.Participant"
               tab="Participant">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.ExecutionPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.ExecutionTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.Execution"
               tab="Execution">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.CreateParticipantMessagePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.CreateParticipantMessageTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.CreateParticipantMessage"
               tab="CreateParticipantMessage">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.DestroyParticipantMessagePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.DestroyParticipantMessageTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.DestroyParticipantMessage"
               tab="DestroyParticipantMessage">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.ReturnMessagePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.ReturnMessageTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.ReturnMessage"
               tab="ReturnMessage">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.StateInvariantPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.StateInvariantTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.StateInvariant"
               tab="StateInvariant">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.InteractionUsePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.InteractionUseTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.InteractionUse"
               tab="InteractionUse">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.CombinedFragmentPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.CombinedFragmentTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.CombinedFragment"
               tab="CombinedFragment">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.OperandPropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.OperandTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.Operand"
               tab="Operand">
         </propertySection>
         <propertySection
               class="org.obeonetwork.dsl.interaction.parts.forms.CallMessagePropertiesEditionPartForm"
               filter="org.obeonetwork.dsl.interaction.filters.CallMessageTabPropertiesEditionSection"
               id="org.obeonetwork.dsl.interaction.eef.section.CallMessage"
               tab="CallMessage">
         </propertySection>
      </propertySections>
   </extension>
   -->
</plugin>
