<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2008, 2019 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <!--
	<category
			id="org.obeonetwork.dsl.category.modelers"
			name="Acceleo Pro">
	</category>
	-->
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.obeonetwork.dsl.entity.presentation.EntityEditorID"
        name = "%_UI_EntityEditor_label"
        icon = "icons/full/obj16/EntityModelFile.gif"
        extensions = "entity"
        class = "org.obeonetwork.dsl.entity.presentation.EntityEditor" 
        contributorClass="org.obeonetwork.dsl.entity.presentation.EntityActionBarContributor" >
    </editor>
  </extension>
</plugin>
