<!--
 /*******************************************************************************
 * Copyright (c) 2012 Obeo.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     Hugo Marchadour (Obeo) - initial API and implementation
 *******************************************************************************/
-->
<!--
	@autor hugo.marchadour@obeo.fr
	@version 1.0.0
	@since 0.3.0
	
	Ember.View
	@param {model.Office} office
	@generated
-->

<script type="text/x-handlebars" data-template-name="office-list">
	<!-- Start of user code office-list -->
		{{#with content as office}}
		{{#if office.local}}
		<div class="well local">

			{{#if user.localRemove}}
			<div style="float: right;">
				<img class="align-left" src="./asset/img/remove.png" height="24px">
			</div>
			{{/if}}
			{{#if user.localAdd}}
			<div style="float: right;">
				<img class="align-left" src="./asset/img/add.png" height="24px">
			</div>
			{{/if}}
			{{#if user.localUpdate}}
			<div style="float: right;">
				<img class="align-left" src="./asset/img/refresh.png" height="24px">
			</div>
			{{/if}}

			<div class="btn-group">
				<a {{action "editAction" context="office"}} class="btn btn-inverse" href="#"><i class=""></i> 
					{{office.shortDescription}}
				</a>
				<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">&nbsp;<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<a {{action "editAction" context="office"}} href="#"><i class="icon-pencil"></i> Edit</a>
					</li>
					<li>
						<a {{action "removeAction" context="office"}} href="#"><i class="icon-trash"></i> Delete</a>
					</li>
				</ul>
			</div>
			<ul class="office-row">
					<li>{{office.shortDescription}}</li>
				
					<li>{{office.description}}</li>
				
			</ul>
		</div>
		{{else}}
		<div class="well">

			<div class="btn-group">
				<a {{action "editAction" context="office"}} class="btn btn-inverse" href="#"><i class=""></i> 
					{{office.shortDescription}}
				</a>
				<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">&nbsp;<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<a {{action "editAction" context="office"}} href="#"><i class="icon-pencil"></i> Edit</a>
					</li>
					<li>
						<a {{action "removeAction" context="office"}} href="#"><i class="icon-trash"></i> Delete</a>
					</li>
				</ul>
			</div>
			<ul class="office-row">
					<li>{{office.shortDescription}}</li>
				
					<li>{{office.description}}</li>
				
			</ul>
		</div>
		{{/if}}
	{{/with}}
	<!-- End of user code -->
</script>

