<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2008, 2020 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
 <extension point= "org.eclipse.ui.activities" >
<activity id= "visible.activity"
description= "Obeo Designer Activities"
name= "Obeo Designer"
/> 
<activity id= "hidden.activity"
description= "Hidden Activities"
name= "Hidden"
/>
<!-- other activity requires activity -->
<activityRequirementBinding activityId= "hidden.activity"
requiredActivityId= "visible.activity"
/>
<category id= "org.obeonetwork.dsl.designer.Category"
description= "Obeo Designer Activities"
name= "Obeo Designer"
/>
<!-- put the activity in the category -->
<categoryActivityBinding activityId= "visible.activity"
categoryId= "org.obeonetwork.dsl.designer.Category"
/>
<!-- visible contributions-->
<activityPatternBinding activityId="visible.activity" pattern= "fr\.obeo\.dsl\..*/.*"/>
<activityPatternBinding activityId="visible.activity" pattern= "fr\.obeo\.mda\..*/.*"/>
<activityPatternBinding activityId="visible.activity" pattern= "org\.eclipse\.jdt\..*/.*"/>
<activityPatternBinding activityId="visible.activity" pattern= "org\.eclipse\.pde\..*/.*"/>
<activityPatternBinding activityId="visible.activity" pattern= "org\.eclipse\.gmf\..*/.*"/>
<activityPatternBinding activityId="visible.activity" pattern= "org\.eclipse\.emf\..*/.*"/>
<activityPatternBinding activityId="visible.activity" pattern= "org\.eclipse\.jet\..*/.*"/>
<activityPatternBinding activityId="visible.activity" pattern= "org\.eclipse\.ant\..*/.*"/>
<activityPatternBinding activityId="visible.activity" pattern= "org\.eclipse\..*/.*ant\..*/.*"/>
<activityPatternBinding activityId="visible.activity"  pattern="org\.eclipse\.team\.ui/org.*"/>
<activityPatternBinding activityId="visible.activity"  pattern="fr\.obeo\.acceleo\..*/.*"/>
<activityPatternBinding activityId="visible.activity" pattern="org\.eclipse\.jdt\.debug/debugModel"/>
  <!-- hidden contributions-->
<activityPatternBinding activityId="hidden.activity"  pattern="fr\.obeo\.dsl\.designer\.architect\..*/.*"/>
<activityPatternBinding activityId="hidden.activity" pattern="fr\.obeo\.dsl\.designer\.editor\.wizards\.ViewpointModelWizardID"/>
<activityPatternBinding activityId="hidden.activity" pattern="fr\.obeo\.dsl\.viewpoint\.diagram\.part\.ViewpointCreationWizardID"/>
<!-- our activity should be enabled by default -->
 
<defaultEnablement id="visible.activity"/>

</extension>

<extension point="org.eclipse.core.runtime.products" id="product">
	<product name="Information System Designer" application="org.eclipse.ui.ide.workbench">
		<property name="windowImages" value="icons/logo_16.gif,icons/logo_32.gif,icons/logo_64.gif,icons/logo_128.gif"/>
        <property name="appName" value="Information System Designer"/>
		<property name="aboutImage" value="icons/about.gif"/>
		<property name="aboutText" value="Information System Designer

Version  1.9.2


Copyright (c) 2008, 2020 Obeo. All Rights Reserved.
Viewpoint Specification : Copyright (c) 2005-2015 Thales.

Visit http://www.obeo.fr"/>
		<property name="startupForegroundColor" value="000000"/>
		<property name="startupMessageRect" value="7,308,458,18"/>
		<property name="startupProgressRect" value="0,328,458,18"/>
		<property name="cssTheme" value="net.jeeeyul.eclipse.themes.custom"></property>
  <property
        name="preferenceCustomization"
        value="plugin_customization.ini">
  </property>
	</product>
</extension>

<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.sirius.ui.tools.perspective.design">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <newWizardShortcut
               id="org.eclipse.acceleo.ide.ui.wizards.newfile.AcceleoModuleWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.acceleo.ide.ui.wizards.newfile.main.AcceleoNewMainTemplateWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.eclipse.acceleo.ide.ui.AcceleoPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="org.eclipse.acceleo.ide.ui.wizards.newproject.AcceleoNewProjectUIWizard">
         </newWizardShortcut>
      </perspectiveExtension>
</extension>

</plugin>
