<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
    Copyright (c) 2008, 2023 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    Contributors:
        Obeo - initial API and implementation
 -->
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.obeonetwork.utils.common.ui.propertyTesters.SiriusEditPartPropertyTester"
            id="org.obeonetwork.utils.common.ui.propertyTesters.SiriusEditPartPropertyTester"
            namespace="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart"
            properties="diagramName,viewpointId,mappingName"
            type="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart">
      </propertyTester>
      <propertyTester
            class="org.obeonetwork.utils.common.ui.propertyTesters.SiriusRepresentationPropertyTester"
            id="org.obeonetwork.utils.common.ui.propertyTesters.SiriusRepresentationPropertyTester"
            namespace="org.eclipse.sirius.viewpoint.dRepresentationElement"
            properties="definitionName"
            type="org.eclipse.sirius.viewpoint.DRepresentationElement">
      </propertyTester>
      <propertyTester
            class="org.obeonetwork.utils.common.ui.propertyTesters.DSemanticDecoratorPropertyTester"
            id="org.obeonetwork.utils.common.ui.propertyTesters.DSemanticDecoratorPropertyTester"
            namespace="org.eclipse.sirius.viewpoint.dSemanticDecorator"
            properties="targetType"
            type="org.eclipse.sirius.viewpoint.DSemanticDecorator">
      </propertyTester>
   </extension>

</plugin>
