<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012, 2017 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://mindef.gouv.fr/dsl/safran/graal-extensions/1.0.0"
            class="fr.gouv.mindef.safran.graalextensions.provider.GraalExtensionsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://mindef.gouv.fr/dsl/safran/graal-extensions/1.0.0"
            class="fr.gouv.mindef.safran.graalextensions.providers.GraalextensionsEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="fr.gouv.mindef.safran.graalextensions.providers.GraalextensionsPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   
  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="Risk"
               label="Risk"
               category="semantic">
         </propertyTab>
         <propertyTab
               id="Version"
               label="Version"
               category="semantic">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="fr.gouv.mindef.safran.graalextensions.parts.forms.CustomVersionPropertiesEditionPartForm"
               filter="fr.gouv.mindef.safran.graalextensions.filter.GraalExtensionsFilter"
               id="fr.gouv.mindef.safran.graalextensions.section.Version"
               tab="Version">
         </propertySection>
         <propertySection
               class="fr.gouv.mindef.safran.graalextensions.parts.forms.CustomRiskPropertiesEditionPartForm"
               filter="fr.gouv.mindef.safran.graalextensions.filter.GraalExtensionsFilter"
               id="fr.gouv.mindef.safran.graalextensions.section.Risk"
               tab="Risk">
         </propertySection>
      </propertySections>
   </extension>
   
   
   	<extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.table.ui.EditorID"
            labelProvider="fr.gouv.mindef.safran.graalextensions.providers.CustomEEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="graalextensions">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertyTab
               category="graalextensions"
               id="Risk"
               label="Risk"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="graalextensions"
               id="Version"
               label="Version"
               afterTab="top">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="fr.gouv.mindef.safran.graalextensions.parts.forms.CustomRiskPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.UserStoryTabPropertiesEditionSection"
               id="fr.gouv.mindef.safran.graalextensions.section.table.Risk"
               tab="Risk">
         </propertySection>
         <propertySection
               class="fr.gouv.mindef.safran.graalextensions.parts.forms.CustomVersionPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.UserStoryTabPropertiesEditionSection"
               id="fr.gouv.mindef.safran.graalextensions.section.table.Version"
               tab="Version">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
