<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.obeonetwork.dsl.database.sqlgen.ide.ui.handlers.DatabaseGenGeneratorHandler"
            commandId="org.obeonetwork.dsl.database.sqlgen.ide.ui.commands.DatabaseGenGeneratorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.obeonetwork.dsl.database.sqlgen.ide.ui.menus.generators"
               label="Generators">
            <command
                  commandId="org.obeonetwork.dsl.database.sqlgen.ide.ui.commands.DatabaseGenGeneratorCommand"
                  id="org.obeonetwork.dsl.database.sqlgen.ide.ui.menus.DatabaseGenGeneratorCommand.element"
                  label="org::obeonetwork::dsl::database::sqlgen::DatabaseGen">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.compare.Comparison">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <!--command
                  commandId="org.obeonetwork.dsl.database.sqlgen.ide.ui.commands.DatabaseGenGeneratorCommand"
                  id="org.obeonetwork.dsl.database.sqlgen.ide.ui.menus.DatabaseGenGeneratorCommand.file"
                  label="org::obeonetwork::dsl::database::sqlgen::DatabaseGen">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IFile">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="compare">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command-->
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.obeonetwork.dsl.database.sqlgen.ide.ui.commands.generatorsCategory"
            name="Generators">
      </category>
      <command
            categoryId="org.obeonetwork.dsl.database.sqlgen.ide.ui.commands.generatorsCategory"
            id="org.obeonetwork.dsl.database.sqlgen.ide.ui.commands.DatabaseGenGeneratorCommand"
            name="org::obeonetwork::dsl::database::sqlgen::DatabaseGen">
      </command>
   </extension>

</plugin>
