<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2011, 2017 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.obeonetwork.dsl.database.design.Activator"
               id="org.obeonetwork.dsl.database.design"
	       name="database">
    </component>
  </extension>
  <extension
         point="org.eclipse.eef.ide.ui.ext.widgets.reference.eefExtReferenceViewerFilterProvider">
      <descriptor
            class="org.obeonetwork.dsl.database.design.wizard.viewer.filters.SafranReferenceViewerFilter"
            description="This extension is used to filter the content of the tree viewer used to select a element in the EEF Reference Filter"
            id="org.obeonetwork.dsl.database.design.viewerFilterProvider"
            label="Safran Viewer Filter Provider">
      </descriptor>
   </extension>
  <extension
        point="org.eclipse.eef.ide.ui.eefLifecycleManagerProvider">
     <descriptor
           class="org.obeonetwork.dsl.database.design.reference.custom.EEFReferenceCustomLifecycleManagerProvider"
           description="&quot;&quot;"
           id="org.obeonetwork.dsl.database.design.custom.reference"
           label="SafranCustomReference">
     </descriptor>
  </extension>
 </plugin>
