<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.obeonetwork.dsl.database.design.Activator"
               id="org.obeonetwork.dsl.database.design"
	       name="database">
    </component>
  </extension>
 </plugin>
