<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2008, 2025 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
   <extension point="org.eclipse.help.toc">
      <toc
            file="doc/ISD - State Machine tooling-toc.xml"
            primary="true">
      </toc>
   </extension>
   
</plugin>
