<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.obeonetwork.is.designer.ui.wizards.category"
            class="fr.gouv.mindef.safran.project.lifecycle.ui.wizards.BusinessProjectImportWizard"
            icon="icons/ModelingProject.gif"
            id="fr.gouv.mindef.safran.project.lifecycle.ui.wizards.BusinessProjectImportWizard"
            name="Import business project">
         <description>
            Import a business project into the selected one.
         </description>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
   </extension>

</plugin>
