<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/graal/2.0.0"
            class="org.obeonetwork.graal.provider.GraalItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

<!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/graal/2.0.0"
            class="org.obeonetwork.graal.providers.GraalEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.graal.providers.GraalPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertyTab
               category="semantic &amp; extension"
               id="Task"
               label="Task"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="System"
               label="System"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Operator"
               label="Operator"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Transition"
               label="Transition"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="TaskReference"
               label="TaskReference"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="UserView"
               label="UserView"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="UserAction"
               label="UserAction"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="AppliEvent"
               label="AppliEvent"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="AppliAction"
               label="AppliAction"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="InitialNode"
               label="InitialNode"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="FinalNode"
               label="FinalNode"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="AbortNode"
               label="AbortNode"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Loop"
               label="Loop"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="Actor"
               label="Actor"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="TasksGroup"
               label="TasksGroup"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="UseCase"
               label="UseCase"
               afterTab="top">
         </propertyTab>
         <propertyTab
               category="semantic &amp; extension"
               id="UserStory"
               label="UserStory"
               afterTab="top">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertySection
               class="org.obeonetwork.graal.parts.forms.TaskPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.TaskTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.Task"
               tab="Task">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.SystemPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.SystemTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.System"
               tab="System">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.OperatorPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.OperatorTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.Operator"
               tab="Operator">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.TransitionPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.TransitionTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.Transition"
               tab="Transition">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.TaskReferencePropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.TaskReferenceTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.TaskReference"
               tab="TaskReference">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.UserViewPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.UserViewTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.UserView"
               tab="UserView">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.UserActionPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.UserActionTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.UserAction"
               tab="UserAction">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.AppliEventPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.AppliEventTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.AppliEvent"
               tab="AppliEvent">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.AppliActionPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.AppliActionTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.AppliAction"
               tab="AppliAction">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.InitialNodePropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.InitialNodeTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.InitialNode"
               tab="InitialNode">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.FinalNodePropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.FinalNodeTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.FinalNode"
               tab="FinalNode">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.AbortNodePropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.AbortNodeTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.AbortNode"
               tab="AbortNode">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.LoopPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.LoopTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.Loop"
               tab="Loop">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.ActorPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.ActorTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.Actor"
               tab="Actor">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.TasksGroupPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.TasksGroupTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.TasksGroup"
               tab="TasksGroup">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.UseCasePropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.UseCaseTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.UseCase"
               tab="UseCase">
         </propertySection>
         <propertySection
               class="org.obeonetwork.graal.parts.forms.UserStoryPropertiesEditionPartForm"
               filter="org.obeonetwork.graal.filters.UserStoryTabPropertiesEditionSection"
               id="org.obeonetwork.graal.eef.section.UserStory"
               tab="UserStory">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
