<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- mapping files -->
        
        <mapping resource="org/obeonetwork/sample/badpractives/Interface_.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/Class_.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/BadName.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/Anothername.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/EntityWithSpecialChars.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/Public_.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/Private_.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/Protected_.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/Null_.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/MyEntity.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/TABLE.hbm.xml"/>
        <mapping resource="org/obeonetwork/sample/badpractives/package_/Return_.hbm.xml"/>

		<!-- Start of user code of listeners -->
		<!-- End of user code -->

    </session-factory>

	<!-- Start of user code of security parameters -->
	<!-- End of user code -->

</hibernate-configuration>
