<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2008, 2023 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    Contributors:
        Obeo - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.obeonetwork.is.designer.ui.wizards.category"
            class="org.obeonetwork.project.lifecycle.ui.wizards.BusinessProjectImportWizard"
            icon="icons/ModelingProject.gif"
            id="org.obeonetwork.project.lifecycle.ui.wizards.BusinessProjectImportWizard"
            name="Import business project">
         <description>
            Import a business project into the selected one.
         </description>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
   </extension>

</plugin>
