<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.obeonetwork.m2doc.services.register">
      <service
            serviceClass="org.obeonetwork.requirement.m2doc.services.RequirementServicesHolder"
            serviceToken="default">
      </service>
   </extension>

</plugin>
