<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.obeonetwork.dsl.ois.popupmenu"
            nameFilter="*.soa"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.obeonetwork.dsl.ois.menu"
               label="Generate"
               path="additions">
         </menu>
         <action
               class="org.obeonetwork.dsl.soa.ui.launchers.SpringLaunchAction"
               id="org.obeonetwork.dsl.soa.ui.soaspring"
               label="Generate SOA Spring"
               menubarPath="org.obeonetwork.dsl.ois.menu/soa">
         </action>
         <action
               class="org.obeonetwork.dsl.soa.ui.launchers.SpringHibernateLaunchAction"
               id="org.obeonetwork.dsl.soa.ui.soaspringhibernate"
               label="Generate SOA Spring Hibernate"
               menubarPath="org.obeonetwork.dsl.ois.menu/soa">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.obeonetwork.dsl.ois.popupmenu"
            nameFilter="*.ois"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.obeonetwork.dsl.ois.menu"
               label="Generate"
               path="additions">
         </menu>
         <action
               class="org.obeonetwork.dsl.soa.ui.launchers.SpringLaunchAction"
               id="org.obeonetwork.dsl.soa.ui.soaspring"
               label="Generate SOA Spring"
               menubarPath="org.obeonetwork.dsl.ois.menu/soa">
         </action>
         <action
               class="org.obeonetwork.dsl.soa.ui.launchers.SpringHibernateLaunchAction"
               id="org.obeonetwork.dsl.soa.ui.soaspringhibernate"
               label="Generate SOA Spring Hibernate"
               menubarPath="org.obeonetwork.dsl.ois.menu/soa">
         </action>
      </objectContribution>
   </extension>

</plugin>
