<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ClassDiagramConfiguration -->
      <package
            uri="http://www.obeonetwork.org/dsl/classdiagramconf/1.0.0"
            class="org.obeonetwork.tools.classdiagramconfiguration.ClassDiagramConfigurationPackage"
            genModel="model/ClassDiagramConfiguration.genmodel"/>
   </extension>

</plugin>
